<h1>Stand-By Reservations</h1>

<%= form_for @stand_by_reservation do |f| %>
  <p>Please enter the email you would like to be notified at: </p>
  <%= f.hidden_field :kennel_id, value: params[:kennel_id] %>
  <%= f.hidden_field :check_in_date, value: sanitize_date(params[:check_in_date]) %>
  <%= f.hidden_field :check_out_date, value: sanitize_date(params[:check_out_date]) %>
  <%= f.hidden_field :kennelID, value: params[:kennel_id] %>
  <%= f.hidden_field :runID, value: params[:run_id] %>
  <%= f.hidden_field :expired, value: "false" %>
  <%= f.hidden_field :email_sent, value: "false" %>
  <%= f.hidden_field :original_search_url, value: request.referrer %>
  <%= f.text_field :customer_email, placeholder: " Email" %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
