<h1>Drop Off and Pick Up times</h1>

<%= form_for @drop_off_pick_up do |f| %>
  <%= f.text_field :monday_pick_up, placeholder: " Monday pick up time" %>
  <br>
  <%= f.text_field :monday_drop_off, placeholder: " Monday drop off time" %>
  <br>
  <br>
  <%= f.text_field :tuesday_pick_up, placeholder: " Tuesday pick up time" %>
  <br>
  <%= f.text_field :tuesday_drop_off, placeholder: " Tuesday drop off time" %>
  <br>
  <br>
  <%= f.text_field :wednesday_pick_up, placeholder: " Wednesday pick up time" %>
  <br>
  <%= f.text_field :wednesday_drop_off, placeholder: " Wednesday pick off time" %>
  <br>
  <br>
  <%= f.text_field :thursday_pick_up, placeholder: " Thursday pick up time" %>
  <br>
  <%= f.text_field :thursday_drop_off, placeholder: " Thursday pick off time" %>
  <br>
  <br>
  <%= f.text_field :friday_pick_up, placeholder: " Friday pick up time" %>
  <br>
  <%= f.text_field :friday_drop_off, placeholder: " Friday pick off time" %>
  <br>
  <br>
  <%= f.text_field :saturday_pick_up, placeholder: " Saturday pick up time" %>
  <br>
  <%= f.text_field :saturday_drop_off, placeholder: " Saturday pick off time" %>
  <br>
  <br>
  <%= f.text_field :sunday_pick_up, placeholder: " Sunday pick up time" %>
  <br>
  <%= f.text_field :sunday_drop_off, placeholder: " Sunday pick off time" %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
