<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h5 class="edit_holiday_title">Edit Holiday</h5>
      <div class="edit_holiday_div">
        <%= form_for(@holiday, {action: :update}) do |f| %>
          <%= f.text_field :holiday_date, class:"kennel_dashboard_input holiday_datepicker" %>
          <br />
          <%= f.text_field :description, class:"kennel_dashboard_input" %>
          <br />
          <%= f.submit "Submit", class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
