<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center dashboard_default_background_color">
    <h5 class="main_title">Holidays</h5>
    <br />
  </div>
</div>
<div class="border"></div>
<div class="border"></div>
<br />
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="br_if_desktop"><br /></div>
      <%= render partial: "shared/kennel_dashboard_option_btn_div" %>
      <div class="br_if_desktop"><br /></div>
      <br />
      <div class="holiday_registration_div">
        <h3 class="default_green_color patrick_hand_font text_underline">Add New</h3>
        <br />
        <%= form_for @holiday do |f| %>
          <%= f.label :date %>
          <br />
          <%= f.text_field :holiday_date, class: "holiday_datepicker kennel_dashboard_input", placeholder: "mm/dd/yyyy" %>
          <br>
          <%= f.label :description %>
          <br>
          <%= f.text_field :description, placeholder: " Description", class:"kennel_dashboard_input"%>
          <br>
          <br>
          <%= f.submit "Save Holiday", class:"btn btn-success" %>
          <%= f.submit "Save and Add Another Holiday", class:"btn btn-success", name: "create_another_holiday" %>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <br />
  <div class="border"></div>
  <br />
  <div class="row text-center">
    <div class="all_holidays_div">
      <% if !@holidays.blank? %>
        <h3 class="default_green_color patrick_hand_font text_underline">Edit</h3>
        <br />
        <% @holidays.each do |holiday| %>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <p><strong>Date: </strong><br /><%= unsanitize_date(holiday[:holiday_date].to_s) %></p>
            <p><strong>Description: </strong><br /><%= holiday[:description] %></p>
            <%= button_to "Edit", edit_holiday_path(holiday[:id]), class:"btn btn-primary", method: :get %>
            <br />
            <%= button_to "Delete", holiday_path(holiday[:id]), data: {confirm: "Are you sure you want to delete this holiday?"}, class:"btn btn-danger", method: :delete %>
            <br />
            <br />
            <br />
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
