<h1>Holidays Registrations</h1>

<%= form_for @holiday do |f| %>
  <%= f.text_field :holiday_date, class: "holiday_datepicker", placeholder: "mm/dd/yyyy" %>
  <br>
  <%= f.text_field :description, placeholder: " Description"%>
  <br>
  <%= f.submit "Submit" %>
  <%= f.submit "Submit and create another 'Holiday'", name: "create_another_holiday" %>
<% end %>
