<h1>Blog Search</h1>

<%= form_tag({controller: "blogs", action: "blog_search"}, method: "get") %>
  <%= text_field_tag :blog_search_text %>
  <br>
  <p>Search by Title: <%= radio_button_tag(:search_by, "title") %></p>
  <p>or</p>
  <p>Search by Keyword: <%= radio_button_tag(:search_by, "keyword") %></p>
  <br>
<%= submit_tag "Submit" %>


<% if !@blog_search_results.nil? %>
  <% @blog_search_results.each do |b| %>
    <% if b[:publish_date] > Date.today %>
      <h5>Title: <strong><%= link_to b[:title], blog_path(b[:id]) %></strong></h5>
      <p>Published On: <%= b[:publish_date] %></p>
      <% if !current_user.nil? && current_user.email == "pawbookings@gmail.com" && current_user.kennel_or_customer == "admin" %>
        <%= link_to "Edit", edit_blog_path(b[:id]) %>
        <br>
        <%= link_to "Delete", blog_path(@blog.id), data: {confirm: "Are you sure you want to delete?"}, method: "delete" %>
      <% end %>
      <br>
    <% end %>
  <% end %>
<% end %>
