<h1>Edit Blog</h1>

<%= form_for @blog do |b| %>
  <%= b.text_area :title %>
  <br>
  <%= b.cktext_area :body %>
  <br>
  <%= b.text_field :keyword %>
  <br>
  <%= b.text_field :publish_date, class: "blog_publish_date_picker" %>
  <br>
  <%= b.submit "Submit" %>
<% end %>
