<h1>Recent Blogs</h1>

<% @latest_blogs.each do |blog| %>
  <%= link_to raw(blog[:title]), blog_path(blog[:id]) %>
  <%= blog[:keyword] %>
  <br>
  <%= unsanitize_date(blog[:publish_date].to_s) %>
  <br>
  <% if !current_user.nil? && current_user.email == "pawbookings@gmail.com" && current_user.kennel_or_customer == "admin" %>
    <%= link_to "Edit", edit_blog_path(blog[:id]) %>
    <br>
    <%= link_to "Delete", blog_path(blog.id), data: {confirm: "Are you sure you want to delete?"}, method: "delete" %>
  <% end %>
  <br>
  <br>
<% end %>

<h1>Categories</h1>
<% @blog_categories.each do |bc| %>
  <h3><%= link_to bc.title, blog_category_path(bc.title) %></h3>
  <% if !current_user.nil? && current_user.email == "pawbookings@gmail.com" && current_user.kennel_or_customer == "admin" %>
  <%= link_to "Edit", edit_blog_category_path(bc[:id]) %>
  <br>
  <%= link_to "Delete", blog_category_path(bc.id), data: {confirm: "Are you sure you want to delete?"}, method: "delete" %>
  <% end %>
  <br>

<% end %>
