<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="main_title arvo_font">Create a blog</h5>
        <br />
      <%= form_for @blog do |f| %>
        <strong>Display Image:</strong>
        <%= f.file_field :blog_display_image, class:"btn btn-primary general_input" %>
        <br>
        <br>
        <strong>Title:</strong>
        <br />
        <%= f.text_field :title, placeholder: " Title", class:"general_input" %>
        <br>
        <br>
        <strong>Body:</strong>
        <%= f.cktext_area :body, placeholder: " Body", class:"general_input" %>
        <br>
        <br>
        <strong>Keyword:</strong>
        <%= f.text_field :keyword, placeholder: " Keyword", class:"general_input" %>
        <br>
        <br>
        <strong>Publishing Date:</strong>
        <%= f.text_field :publish_date, class: "blog_publish_date_picker general_input" %>
        <br>
        <br>
        <%= f.submit "Submit", class:"btn btn-success" %>
        <br />
        <br />
      <% end %>

    </div>
  </div>
</div>
