<h1>Blog Show Page</h1>

  <h3><%= @blog.title %></h3>
  <br>
  <%= raw(@blog.body) %>
  <br>
  Keyword: <%= @blog.keyword %>
  <br>
  <br>
  Published on: <%= unsanitize_date(@blog.publish_date.to_s) %>
  <br>
  <% if !current_user.nil? && current_user.kennel_or_customer == "admin" %>
    <%= link_to "Edit", edit_blog_path(@blog.id) %>
    <br>
    <%= link_to "Delete", blog_path(@blog.id), data: {confirm: "Are you sure you want to delete?"}, method: "delete" %>
  <% end %>
