<% set_meta_tags title: @blog[:title] %>
<% set_meta_tags description: raw(@blog[:body]) %>
<% set_meta_tags keywords: [@blog[:title], "pet blog", "all about pets", "pet article", "pet blog", "pets", "pawbookings blog", "articles about pets", "pet reading", "pet information", "kennel information", "kennel blogs", "pet room blogs", "pet reservation expectations"] %>

<%= render partial: "shared/top_info" %>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-10">
      <div class="blog_show_div">
        <h5 class="main_title arvo_font default_green_color text_underline patrick_hand_font"><%= @blog.title %></h5>
        Published on: <br /><%= unsanitize_date(@blog.publish_date.to_s) %>
        <br>
        <br>
        <%= raw(@blog.body) %>
        <br />
        <br />
        <% if !current_user.nil? && current_user.kennel_or_customer == "admin" %>
          <%= link_to "Edit", edit_blog_path(@blog.id) %>
          <br>
          <%= link_to "Delete", blog_path(@blog.id), data: {confirm: "Are you sure you want to delete?"}, method: "delete" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/footer" %>
