<style>
  .devise_password_1, .devise_password_2 {
    display: none;
  }
</style>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    <%= f.hidden_field :kennel_or_customer, value: params[:kennel_or_customer] %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.password_field :password, class: "devise_password_1", autocomplete: "off", value: random_password %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, class: "devise_password_2", autocomplete: "off", value: "" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "user_signup_btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
  $(".user_signup_btn").on("click", function(){
    var devise_password_2 = $(".devise_password_1").val();
    $(".devise_password_2").val(devise_password_2);
  });
</script>
