<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Name: <%= @message[:name] %></p>
      <p>Subject: <%= @message[:subject] %></p>
      <p>Phone: <%= @message[:phone] %></p>
      <p>Email: <%= @message[:email] %></p>
      <p>Message:</p>
      <%= @message[:details] %>
    </div>
  </div>
</div>
