<div class="container">
  <div class="row text-center">
    <div clas="col-xs-12">
      <h1 class="default_green_color">Reservation Confirmation Email</h1>
      <p><strong>Reservation-ID: </strong><%= @reservation[:id] %></p>
      <p><strong>First Name: </strong><%= @reservation[:customer_first_name] %></p>
      <p><strong>Last Name: </strong><%= @reservation[:customer_last_name] %></p>
      <p><strong>Email: </strong><%= @reservation[:customer_email] %></p>
      <p><strong>Phone: </strong><%= @reservation[:customer_phone] %></p>
      <p><strong>Check-In Date: </strong><%= @reservation[:check_in_date] %></p>
      <p><strong>Check-Out Date: </strong><%= @reservation[:check_out_date] %></p>
      <p><strong>Confirmation-ID: </strong><%= @reservation[:transID] %></p>
      <p><strong>Total-Price: </strong><%= @total_price %></p>

      <h3 class="default_green_color">Pets:</h3>
      <% JSON.parse(@reservation[:pet_ids]).each do |pet_id| %>
        <% pet = Pet.find(pet_id) %>
        <p><strong>Name: </strong><%= pet[:name] %></p>
        <p><strong>Cat or Dog: </strong><%= pet[:cat_or_dog] %></p>
        <p><strong>Breed: </strong><%= pet[:breed] %></p>
        <p><strong>Weight: </strong><%= pet[:weight] %></p>
        <p><strong>Vaccinations: </strong><%= pet[:vaccinations] %></p>
        <p><strong>Spay or Neutered: </strong><%= pet[:spay_or_neutered] %></p>
        <p><strong>Special instructions: </strong><%= pet[:special_instructions] %></p>
      <% end %>

      <h3 class="default_green_color">Room Details:</h3>
      <% JSON.parse(@reservation[:room_details]).each do |key, val| %>
        <p><strong><%= "•#{key}- $#{val}" %></strong></p>
      <% end %>

      <h3 class="default_green_color">Amenity Details</h3>
      <% if @reservation[:amenity_details].nil? %>
        <p><strong>•No Amenities Chosen.</strong></p>
      <% else %>
        <% JSON.parse(@reservation[:amenity_details]).each do |title, description, price, quantity| %>
          <p><strong><%= title %></strong></p>
          <p><strong><%= description %></strong></p>
          <p><strong><%= "$#{price} x #{quantity}" %></strong></p>
          <br />
          <br />
        <% end %>
      <% end %>
    </div>
  </div>
</div>
