<div class="container">
  <div class="row">
    <div class="col s12">
      <%= @kennel[:name] %><br />
      <%= @kennel[:address] %><br />
      <%= @kennel[:city] %><br />
      <%= @kennel[:state] %><br />
      <%= @kennel[:zip] %><br />
      <%= @name %><br />
      <%= @email %><br />
      <%= @phone %><br />
    </div>
  </div>
</div>
