<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Enter Your Pet Details</h4>
</div>
<div class="modal-body" style="height: auto; background-color: white; float: none;
    text-align : center;">
   <%= simple_form_for(@pet, :html => { :class => 'form-vertical simple_form', id:"form" }) do |f| %>
    <fieldset>
        <p class="font-20">Pet Name: <%= f.input :name, label: false, input_html: {class: 'input_style'} %></p>
        <p class="font-20">Cat or dog:</p><%=f.collection_radio_buttons :cat_or_dog, [['cat', 'cat'],['dog', 'dog']], :first, :last, { checked: 'cat' }, onchange:"return petsChangeBreed(this);", id: 'pet_cat_or_dog' %></p>
        <div class="pets_new_breed_div", style="display: none;">
                <p class="font-20">Breed:</p>
                <%= f.select :breed, options_for_select(breed_option) %>
                <br>
            </div>
        <p class="font-20">Weight:<%= f.input :weight, label: false, input_html: {class: 'input_style'}  %></p>
        <p class="font-20">Spay or neutered:<%=f.collection_radio_buttons :spay_or_neutered, [['spay', 'spay'],['neutered', 'neutered']], :first, :last %></p>
        <p class="font-20">Age:<%= f.input :age, label: false, input_html: {class: 'input_style'}  %></p>
        <p class="font-20">Special instructions:<%= f.input :special_instructions, label: false, input_html: {class: 'input_style'}  %></p>
        <p class="font-20">Vaccinations current?<%=f.collection_radio_buttons :vaccinations, [['true', 'true'],['false', 'false']], :first, :last, { checked: 'false'}, onchange: "return petsChangeVaccinations(this)" %></p>
        <div class="vaccination_record_div" style="display: none;">
          <%= f.label :vaccination_record, "Vaccination record (optional) PDF or Word" %>
            <br />
            <%= f.file_field :vaccination_record, style: 'margin-top: 30px;' %>
        </div>
        <%= f.file_field :avatar, class: "text_info bold-text link_edit", style: 'background-color: white;margin-left: calc(100%/2 - 130px); margin-right: 800px; margin-top: 30px; margin-bottom: 40px;'%>
  </fieldset>
        <div class="form-actions", style="margin-bottom: 70px">
          <p onclick="return submitForm()", class="text_info bold-text link_edit vet_link submit_link font-20", style="margin-left: calc(100%/2 - 90px);">Save</p>
        </div>
    <% end %>
</div>



<script type="text/javascript">
    function submitForm() {
        $("#form").submit();
    }

  function petsChangeVaccinations(vacc) {
    if(vacc.value == 'true') {
      $('.vaccination_record_div').show();
    } else {
      $('.vaccination_record_div').hide();
    }
  }

  function petsChangeBreed(type){
    var cat_or_dog = type.value;
    if(cat_or_dog == "dog"){
      $(".pets_new_breed_div").show();
    } else {
      $(".pets_new_breed_div").hide();
    }
  }
</script>