<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center dashboard_default_background_color">
    <div class="col-xs-12">
      <h5 class="main_title">Pets</h5>
      <br />
    </div>
  </div>
</div>
<div class="border"></div>
<div class="border"></div>
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <br />
      <div class="new_pet_div">
        <h3 class="default_green_color patrick_hand_font">Enter Your Pet Details</h3>
        <br />
        <%= form_for @pet do |f| %>
          <%= f.label :pet_name %>
          <br />
          <%= f.text_field :name, placeholder: " Pet Name", class:"general_input" %>
          <br>
          <br>
          <%= f.label :cat_or_dog %>
          <br />
          <%= f.select :cat_or_dog, options_for_select(cat_or_dog_only_option), {}, onchange:"return petsChangeBreed();" %>
          <br>
          <br>
          <div class="pets_new_breed_div">
            <%= f.label :breed %>
            <br />
            <%= f.select :breed, options_for_select(breed_option) %>
            <br>
            <br>
          </div>
          <%= f.label :weight %>
          <br />
          <%= f.text_field :weight, placeholder: " Weight in lbs", class:"general_input", onkeypress: "return isNumber(event);" %> lbs
          <br>
          <br>
          <%= f.label :spay_or_neutered %>
          <br />
          <%= f.select :spay_or_neutered, options_for_select(spay_or_neutered_option)%>
          <br>
          <br>
          <%= f.label :vaccinated, "Vaccinations current?" %>
          <br />
          <%= f.select :vaccinations, options_for_select(false_or_true_option), {},onchange:"return petsChangeVaccinations();" %>
          <br>
          <br>
          <%= f.label :special_instructions %>
          <br />
          <%= f.text_area :special_instructions, placeholder: " Special Instructions", class:"general_input"%>
          <br>
          <div class="vaccination_record_div display_none">
            <div class="row text-center">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <%= f.label :vaccination_record, "Vaccination record (optional)" %>
                <br />
                <%= f.file_field :vaccination_record, class:"btn btn-primary" %>
                <br>
                <br>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <%= f.label :picture, "Picture (optional)" %>
              <br />
              <%= f.file_field :avatar, class: "btn btn-primary"%>
              <br />
              <br />
            </div>
          </div>
          <%= f.submit "Save and Close", class:"btn btn-success" %> or
          <%= f.submit "Save and Add Another Pet", class:"btn btn-success", name: "create_another_pet" %>
          <br>
        <% end %>
      </div>
    </div>
  </div>

  <br />
  <div class="border"></div>
  <br />
  <div class="row text-center">
    <div class="edit_pet_div">
      <% if @pets.blank? %>
        <h2><strong class="default_white_color">•No pets listed.</strong></h2>
      <% else %>
        <h3 class="default_green_color">Edit Existing</h3>
        <br />
        <% @pets.each do |pet| %>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <%= form_for(pet, {action: :update}) do |f| %>
              <%= f.label :pet_name %>
              <br />
              <%= f.text_field :name, placeholder: " Pet Name", class:"general_input_edit" %>
              <br>
              <br>
              <%= f.label :weight %>
              <br />
              <%= f.text_field :weight, placeholder: " Weight in lbs", class:"general_input_edit", onkeypress: "return isNumber(event);" %>
              <br>
              <br>
              <%= f.label :spay_or_neutered %>
              <br />
              <%= f.select :spay_or_neutered, options_for_select(spay_or_neutered_option, pet[:spay_or_neutered])%>
              <br>
              <br>
              <%= f.label :vaccinated, "Vaccinations current?" %>
              <br />
              <%= f.select :vaccinations, options_for_select(false_or_true_option, pet[:vaccinations]) %>
              <br>
              <br>
              <%= f.label :vaccination_record %>
              <br />
              <% if pet[:vaccination_record_file_name].nil? %>
                <strong>•No vaccination record found.</strong>
              <% else %>
                <%= link_to "#{pet[:vaccination_record_file_name]}", pet.vaccination_record.url %>
              <% end %>
              <br />
              <%= f.file_field :vaccination_record, class:"btn btn-primary general_input_edit" %>
              <br>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <%= image_tag pet.avatar.url, class: "kennel_dashboard_avatar" if !pet.avatar.url.nil? %>
                  <br>
                  <%= f.label :picture %>
                  <br />
                  <%= f.file_field :avatar %>
                </div>
              </div>
              <br>
              <br>
              <%= f.submit "Update", class:"btn btn-primary" %>
              <br />
              <br />
            <% end %>
            <%= link_to "Delete", pet_path(pet[:id]), class:"btn btn-danger", method: :delete %>
            <br />
            <br />
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>


<script type="text/javascript">
  function petsChangeBreed(){
    var cat_or_dog = $("#pet_cat_or_dog").val();
    if(cat_or_dog == "dog"){
      $(".pets_new_breed_div").show();
    } else {
      $(".pets_new_breed_div").hide();
    }
  }

  function petsChangeVaccinations(){
    var vaccinations = $("#pet_vaccinations").val();
    if(vaccinations == "true"){
      $(".vaccination_record_div").show();
    } else {
      $(".vaccination_record_div").hide();
    }
  }
</script>
