<h1>Pet Registration</h1>

<%= form_for @pet do |f| %>
  <%= f.text_field :name, placeholder: " Name" %>
  <br>
  <%= f.text_field :cat_or_dog, placeholder: " Cat or Dog" %>
  <br>
  <%= f.text_field :breed, placeholder: " Breed" %>
  <br>
  <%= f.text_field :dob, placeholder: " Date of Birth" %>
  <br>
  <%= f.text_field :temperament, placeholder: " Temperament" %>
  <br>
  <%= f.text_area :vaccinations, placeholder: " Vaccinations Given in Past 6 Months" %>
  <br>
  <%= f.text_area :primary_veterinarian, placeholder: " Primary Veterinarian" %>
  <br>
  <%= f.text_area :primary_veterinarian_phone, placeholder: " Primary Veterinaian Phone" %>
  <br>
  <%= f.submit "Submit" %>
  <%= f.submit "Submit and create another 'Pet'", name: "create_another_pet" %>
<% end %>
