<h1>Amenities registration</h1>

<%= form_for @amenity do |f| %>
  <%= f.text_field :title, placeholder: " Doggy Ice-Cream" %>
  <br>
  <br>
  <%= f.text_area :description, placeholder: " Sweet delicious home-made peanut butter ice-cream" %>
  <br>
  <br>
  <%= f.text_field :price, placeholder: " 4.00" %>
  <br>
  <br>
  <%= f.submit "Submit" %>
  <%= f.submit "Submit and create another 'Amenity'", name: "create_another_amenity" %>
<% end %>
