<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h5 class="amenities_title">Amenities:</h5>
      <%= render partial: "shared/kennel_dashboard_option_btn_div" %>
      <div class="amenity_registration_div text-center">
        <%= form_for @amenity do |f| %>
          <%= f.label :title %>
          <br />
          <%= f.text_field :title, placeholder: " Doggy Ice-Cream", class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.label :description %>
          <br />
          <%= f.text_area :description, placeholder: " Sweet delicious home-made peanut butter ice-cream", class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.label :price %>
          <br />
          <%= f.text_field :price, placeholder: " 4.00", class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.submit "Add New", class:"btn btn-success" %>
          <br>
          <br>
          <br>
        <% end %>
      </div>
      <div class="border"></div>
      <br />
      <br />
      <div class="all_amenities text-center">
        <% if !@amenities.blank? %>
        <h3 class="default_green_color">Amenities listed:</h3>
          <% @amenities.each do |amenity| %>
            <%= form_for(amenity, url: {action: :update, id: amenity[:id]}) do |f|%>
              <%= f.label :title %>
              <br />
              <%= f.text_field :title, value: amenity[:title], class:"kennel_dashboard_input" %>
              <br />
              <%= f.label :description %>
              <br />
              <%= f.text_area :description, value: amenity[:description], class:"kennel_dashboard_input" %>
              <br />
              <%= f.label :price %>
              <br />
              <%= f.text_field :price, value: amenity[:price], class:"kennel_dashboard_input" %>
              <br />
              <br />
              <%= f.submit "Update", class:"btn btn-primary" %>
              <br />
              <br />
              <%= button_to "Delete", amenity_path(id: amenity[:id]), method: :delete, data: { confirm: 'Are you sure you want to delete this Amenity?' }, :class => 'btn btn-danger' %>
              <br />
              <br />
              <br />
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
