<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center dashboard_default_background_color">
    <h5 class="main_title">Amenities</h5>
    <br />
  </div>
</div>
<div class="border"></div>
<div class="border"></div>
<br />
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="br_if_desktop"><br /></div>
      <%= render partial: "shared/kennel_dashboard_option_btn_div" %>
      <div class="br_if_desktop"><br /></div>
      <br />
      <div class="amenity_registration_div">
        <h3 class="default_green_color patrick_hand_font text_underline">Add New</h3>
        <br />
        <%= form_for @amenity do |f| %>
          <%= f.label :title %>
          <br />
          <%= f.text_field :title, placeholder: " Doggy Ice-Cream", class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.label :description %>
          <br />
          <%= f.text_area :description, placeholder: " Sweet delicious home-made peanut butter ice-cream", class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.label :price %>
          <br />
          $<%= f.text_field :price, placeholder: " 10.95", class:"kennel_dashboard_input" %>
          <br>
          <br>
          <br>
          <%= f.submit "Save Amenity", class:"btn btn-success" %> or
          <%= f.submit "Save and Add Another Amenity", class:"btn btn-success", name: "create_another_amenity" %>
          <br>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="border"></div>
  <br />
  <div class="row text-center">
    <div class="all_amenities">
      <% if !@amenities.blank? %>
        <h3 class="default_green_color patrick_hand_font text_underline">Edit Existing</h3>
        <br />
        <% @amenities.each do |amenity| %>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <%= form_for(amenity, url: {action: :update, id: amenity[:id]}) do |f|%>
            <%= f.label :title %>
            <br />
            <%= f.text_field :title, value: amenity[:title], class:"kennel_dashboard_input_edit" %>
            <br />
            <%= f.label :description %>
            <br />
            <%= f.text_area :description, value: amenity[:description], class:"kennel_dashboard_input_edit" %>
            <br />
            <%= f.label :price %>
            <br />
            $<%= f.text_field :price, value: amenity[:price], class:"kennel_dashboard_input_edit" %>
            <br />
            <br />
            <%= f.submit "Update", class:"btn btn-primary" %>
            <br />
            <br />
          <% end %>
          <%= button_to "Delete", amenity_path(id: amenity[:id]), method: :delete, data: { confirm: 'Are you sure you want to delete this Amenity?' }, :class => 'btn btn-danger' %>
          <br />
          <br />
          <br />
        </div>
      <% end %>
    <% end %>
  </div>
 </div>
</div>

<%= render partial: "shared/footer" %>
