<div class="container">
  <% @amenity ||= Amenity.new %>
  <%= form_for @amenity, html: {multipart: true, style: 'text-align: center;'}, id:'form3' do |f| %>
    <div class="row" style="margin-top: -40px;float: right;margin-right: 10px;"><span style="font-size: 25px;cursor: pointer;" onclick="location.href='/kennels?tab=amenities'">x</span></div>
	 	<p style="font-size: 20px !important; margin-top: 50px; margin-bottom: 50px;">Add New Amenity</p>
    <br>
    <%= f.hidden_field :mobile, value: true %>
    <p class="font-18">Title:</p>
    <%= f.text_field :title, placeholder: 'Title', class: "form-control payment_input input_new_reserv black_18 margin-0-auto" %>
    <br>
    <p class="font-18">Description:</p>
    <%= f.text_field :description, placeholder: 'Description', class: "form-control payment_input input_new_reserv black_18 margin-0-auto"%>
    <br>
    <p class="font-18">Price:</p>
    <%= f.text_field :price, placeholder: 'Price', class: "form-control payment_input input_new_reserv black_18 margin-0-auto" %>
    <br>
    <% @amenity_create ||= params[:amenity_create] %>
    <% if !@amenity_create.nil? %>
      <% @amenity_create.each do |error|%>
        <p style="color:red; font-weight: bold;"><%= "#{error.sub(/./, &:capitalize)} is invalid" %></p>
      <% end %>
    <% end %>
    <br>
    <br>
        <%= f.submit "Save", class:'text_info bold-text link_edit vet_link submit_link font-20', style:"border: none;text-align:center; float: none; margin:0; padding:0; background-color: transparent" %> 
    <br>
  <% end %>
</div>