<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center dashboard_default_background_color">
    <h5 class="main_title arvo_font">Hours of Operation</h5>
    <br />
  </div>
</div>
<div class="border"></div>
<div class="border"></div>
<br />
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="br_if_desktop"><br /></div>
      <%= render partial: "shared/kennel_dashboard_option_btn_div" %>
      <div class="br_if_desktop"><br /></div>
      <br />
      <div class="hours_of_operation_div">
        <h3 class="default_green_color poppins_font text_underline">Choose the hours you are open:</h3>
        <br />
        <%= form_for(@hours_of_operation, {action: :update}) do |f| %>
          <%= f.label :monday %>
          <%= f.select :monday_open, options_for_select(hours_of_day_option, @hours_of_operation[:monday_open]) %>-<%= f.select :monday_close, options_for_select(hours_of_day_option, @hours_of_operation[:monday_close]) %>
          <br>
          <br>
          <%= f.label :tuesday %>
          <%= f.select :tuesday_open, options_for_select(hours_of_day_option, @hours_of_operation[:tuesday_open]) %>-<%= f.select :tuesday_close, options_for_select(hours_of_day_option, @hours_of_operation[:tuesday_close]) %>
          <br>
          <br>
          <%= f.label :wednesday %>
          <%= f.select :wednesday_open, options_for_select(hours_of_day_option, @hours_of_operation[:wednesday_open]) %>-<%= f.select :wednesday_close, options_for_select(hours_of_day_option, @hours_of_operation[:wednesday_close]) %>
          <br>
          <br>
          <%= f.label :thursday %>
          <%= f.select :thursday_open, options_for_select(hours_of_day_option, @hours_of_operation[:thursday_open]) %>-<%= f.select :thursday_close, options_for_select(hours_of_day_option, @hours_of_operation[:thursday_close]) %>
          <br>
          <br>
          <%= f.label :friday %>
          <%= f.select :friday_open, options_for_select(hours_of_day_option, @hours_of_operation[:friday_open]) %>-<%= f.select :friday_close, options_for_select(hours_of_day_option, @hours_of_operation[:friday_close]) %>
          <br>
          <br>
          <%= f.label :saturday %>
          <%= f.select :saturday_open, options_for_select(hours_of_day_option, @hours_of_operation[:saturday_open]) %>-<%= f.select :saturday_close, options_for_select(hours_of_day_option, @hours_of_operation[:saturday_close]) %>
          <br>
          <br>
          <%= f.label :sunday %>
          <%= f.select :sunday_open, options_for_select(hours_of_day_option, @hours_of_operation[:sunday_open]) %>-<%= f.select :sunday_close, options_for_select(hours_of_day_option, @hours_of_operation[:sunday_close]) %>
          <br>
          <br>
          <%= f.submit "Update", class:"btn btn-primary" %>
          <br>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
