<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h5 class="hours_of_operation_title">Hours of Operation</h5>
      <div class="hours_of_operation_div text-center">
        <%= form_for @hours_of_operation do |f| %>
          <%= f.label :monday %>
          <%= f.select :monday_open, options_for_select(hours_of_day_option) %>-<%= f.select :monday_close, options_for_select(hours_of_day_option) %>
          <br>
          <br>
          <%= f.label :tuesday %>
          <%= f.select :tuesday_open, options_for_select(hours_of_day_option) %>-<%= f.select :tuesday_close, options_for_select(hours_of_day_option) %>
          <br>
          <br>
          <%= f.label :wednesday %>
          <%= f.select :wednesday_open, options_for_select(hours_of_day_option) %>-<%= f.select :wednesday_close, options_for_select(hours_of_day_option) %>
          <br>
          <br>
          <%= f.label :thursday %>
          <%= f.select :thursday_open, options_for_select(hours_of_day_option) %>-<%= f.select :thursday_close, options_for_select(hours_of_day_option) %>
          <br>
          <br>
          <%= f.label :friday %>
          <%= f.select :friday_open, options_for_select(hours_of_day_option) %>-<%= f.select :friday_close, options_for_select(hours_of_day_option) %>
          <br>
          <br>
          <%= f.label :saturday %>
          <%= f.select :saturday_open, options_for_select(hours_of_day_option) %>-<%= f.select :saturday_close, options_for_select(hours_of_day_option) %>
          <br>
          <br>
          <%= f.label :sunday %>
          <%= f.select :sunday_open, options_for_select(hours_of_day_option) %>-<%= f.select :sunday_close, options_for_select(hours_of_day_option) %>
          <br>
          <br>
          <%= f.submit "Update", class:"btn btn-success" %>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
