<h1>Hours of operation Registration</h1>

<%= form_for @hours_of_operation do |f| %>
  <%= f.select :monday_open, options_for_select(hours_of_day_option) %>
  <%= f.select :monday_close, options_for_select(hours_of_day_option) %>
  <br>
  <%= f.select :tuesday_open, options_for_select(hours_of_day_option) %>
  <%= f.select :tuesday_close, options_for_select(hours_of_day_option) %>
  <br>
  <%= f.select :wednesday_open, options_for_select(hours_of_day_option) %>
  <%= f.select :wednesday_close, options_for_select(hours_of_day_option) %>
  <br>
  <%= f.select :thursday_open, options_for_select(hours_of_day_option) %>
  <%= f.select :thursday_close, options_for_select(hours_of_day_option) %>
  <br>
  <%= f.select :friday_open, options_for_select(hours_of_day_option) %>
  <%= f.select :friday_close, options_for_select(hours_of_day_option) %>
  <br>
  <%= f.select :saturday_open, options_for_select(hours_of_day_option) %>
  <%= f.select :saturday_close, options_for_select(hours_of_day_option) %>
  <br>
  <%= f.select :sunday_open, options_for_select(hours_of_day_option) %>
  <%= f.select :sunday_close, options_for_select(hours_of_day_option) %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
