<div class="container-fluid footer_container">
  <div class="row text-center footer_social_media_row hidden_if_desktop">
    <div class="col-xs-3">
      <a target="_blank" href="https://www.facebook.com/Pawbookingscom-Inc-1846215675643858/"><img class="facebook_btn_footer" src="/assets/facebook_btn.png" /></a>
    </div>
    <div class="col-xs-3">
      <a target="_blank" href="https://twitter.com/pawbookings"><img class="twitter_btn_footer" src="/assets/twitter_btn.png" /></a>
    </div>
    <div class="col-xs-3">
      <a target="_blank" href="https://www.pinterest.com/pawbookingscominc/"><img class="pinterest_btn_footer" src="/assets/pinterest_btn.png" /></a>
    </div>
    <div class="col-xs-3">
      <a target="_blank" href="#"><img class="google_plus_btn_footer" src="/assets/google_plus_btn.png" /></a>
    </div>
  </div>
  <div class="row text-center hidden_if_mobile">
    <br />
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="row footer_social_media_row">
        <div class="col-xs-3">
          <a target="_blank" href="https://www.facebook.com/Pawbookingscom-Inc-1846215675643858/"><img class="facebook_btn_footer" src="/assets/facebook_btn.png" /></a>
        </div>
        <div class="col-xs-3">
          <a target="_blank" href="https://twitter.com/pawbookings"><img class="twitter_btn_footer" src="/assets/twitter_btn.png" /></a>
        </div>
        <div class="col-xs-3">
          <a target="_blank" href="https://www.pinterest.com/pawbookingscominc/"><img class="pinterest_btn_footer" src="/assets/pinterest_btn.png" /></a>
        </div>
        <div class="col-xs-3">
          <a target="_blank" href="#"><img class="google_plus_btn_footer" src="/assets/google_plus_btn.png" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center footer_row">
    <div class="col-xs-2 col-md-4"></div>
    <div class="col-xs-4 col-md-2">
      <%= link_to "About", about_path, class: "mobile_footer_description" %>
      <br>
      <%= link_to "Blog", blogs_path, class: "mobile_footer_description" %>
      <br>
      <%= link_to "Contact", new_contact_message_path, class: "mobile_footer_description" %>
    </div>
    <div class="col-xs-4 col-md-2">
      <%= link_to "Press", press_pages_path, class: "mobile_footer_description" %>
      <br>
      <%= link_to "Terms", terms_of_service_path, class: "mobile_footer_description" %>
      <br>
      <%= link_to "Help/FAQ", faq_path, class: "mobile_footer_description" %>
    </div>
  </div>
  <br />
  <div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-xs-12 col-md-4">
      <span id="siteseal">
        <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=92MVZYL93rzQoTxklMK2cC3FAr7C2bvYXdgjBhYZqmjRzdMlZszh8rvGB7cE"></script>
      </span>
    </div>
  </div>
  <div class="row text-center footer_bottom_row">
    <div class="col-xs-2 col-md-4"></div>
    <div class="col-xs-2 col-md-2">
      <img class="mobile_footer_desciption footer_logo footer_description_logo" src="/assets/paw.png">
    </div>
    <div class="col-xs-8 col-md-6 text-left">
      <p class="footer_bottom_text">PawBookings.com™ © <%= Time.now.year %></p>
    </div>
  </div>
</div>
