<div class="container-fluid footer_container">
  <div class="row text-center footer_social_media_row">
    <div class="col-xs-3">
      <img class="facebook_btn_footer" src="/assets/facebook_btn.png" />
    </div>
    <div class="col-xs-3">
      <img class="twitter_btn_footer" src="/assets/twitter_btn.png" />
    </div>
    <div class="col-xs-3">
      <img class="pinterest_btn_footer" src="/assets/pinterest_btn.png" />
    </div>
    <div class="col-xs-3">
      <img class="google_plus_btn_footer" src="/assets/google_plus_btn.png" />
    </div>
  </div>
  <div class="row text-center footer_row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <%= link_to "About", about_path, class: "mobile_footer_description" %>
      <br>
      <%= link_to "Blog", blogs_path, class: "mobile_footer_description" %>
      <br>
      <%= link_to "Contact", new_contact_message_path, class: "mobile_footer_description" %>
    </div>
    <div class="col-xs-4">
      <%= link_to "Press", "#", class: "mobile_footer_description" %>
      <br>
      <%= link_to "Terms", "#", class: "mobile_footer_description" %>
      <br>
      <%= link_to "Help/FAQ", "#", class: "mobile_footer_description" %>
    </div>
  </div>
  <div class="row text-center footer_bottom_row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
      <img class="mobile_footer_desciption footer_logo footer_description_logo" src="/assets/paw.png">
    </div>
    <div class="col-xs-8">
      <p class="footer_bottom_text">PawBookings.com™ © <%= Time.now.year %></p>
    </div>
  </div>
</div>
