<% if controller_name == "kennels" && action_name == "kennel_dashboard" %>
  <div class="kennel_dashboard_option_btns_div text-center">
    <%= link_to "Runs", new_run_path, class: "btn btn-success" %>
    <div class="br_if_desktop"><br /></div>
    <%= link_to "Amenities", new_amenity_path, class: "btn btn-success" %>
    <div class="br_if_desktop"><br /></div>
    <%= link_to "Hours of Operation", edit_hours_of_operation_path(session[:hours_of_operation_id]), class: "btn btn-success" %>
    <div class="br_if_desktop"><br /></div>
    <%= link_to "Holidays", new_holiday_path, class: "btn btn-success" %>
    <div class="br_if_desktop"><br /></div>
    <%= link_to "Policies", new_policy_path, class: "btn btn-success" %>
  </div>
<% else %>
<div class="text-center kennel_dashboard_option_btns_div_mobile">
  <%= link_to "Runs", new_run_path, class: "btn btn-success" %>
  <%= link_to "Amenities", new_amenity_path, class: "btn btn-success" %>
  <%= link_to "Hours of Operation", edit_hours_of_operation_path(session[:hours_of_operation_id]), class: "btn btn-success" %>
  <%= link_to "Holidays", new_holiday_path, class: "btn btn-success" %>
  <%= link_to "Policies", new_policy_path, class: "btn btn-success" %>
</div>
<% end %>
