<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <%= form_tag({controller: "searches", action: "search_results"}, {method: "get"}) do %>
        <%= text_field_tag(:search_zip, nil, placeholder: " Zip Code") %>
        <br>
        <%= text_field_tag(:radius, nil, placeholder: " Radius") %>
        <br>
        <p>Drop Off Date</p>
        <%= text_field_tag(:customer_drop_off_date, nil, class: "datepicker_drop_off") %>
        <br>
        <p>Pick Up Date</p>
        <%= text_field_tag(:customer_pick_up_date, nil, class: "datepicker_pick_up") %>
        <br>
        <p>Is this booking for a Dog or Cat?</p>
        <%= select_tag(:cats_or_dogs, options_for_select(cat_or_dog_options)) %>
        <br>
        <%= submit_tag("Search") %>
        <br>
        <br>
      <% end %>
    </div>
  </div>
</div>
