<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <%= form_tag({controller: "searches", action: "search_results"}, {method: "get"}) do %>
        <%= text_field_tag(:search_zip, nil, placeholder: " Zip Code") %>
        <br>
        <%= text_field_tag(:radius, nil, placeholder: " Radius") %>
        <br>
        <p>Drop Off</p>
        <%= text_field_tag(:customer_drop_off_date, nil, class: "datepicker") %>
        <br>
        <p>Pick Up</p>
        <%= text_field_tag(:customer_pick_up_date, nil, class: "datepicker") %>
        <br>
        <%= select_tag(:pet_type, options_for_select(cat_or_dog_options)) %>
        <br>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>
