<%= form_tag({controller: "searches", action: "create"}, {method: "post"}) do %>
  <div class="mobile_search_div">
    <div class="row text-center">
        <div class="col-xs-12">
          <%= text_field_tag(:search_zip, nil, placeholder: " Zip Code", class: "common_search_field", onkeypress: "return isNumber(event);", maxlength: "5", required: true) %>
        </div>
      </div>
      <div style="margin-top:1em;" class="row text-center">
        <div class="col-xs-12">
          <%= text_field_tag(:radius, nil, placeholder: " Radius", class: "common_search_field", onkeypress: "return isNumber(event);", maxlength: "3") %>
        </div>
      </div>
    <div style="margin-top: 1em;" class="row text-center">
      <div class="col-xs-6">
        <%= text_field_tag(:check_in, nil, class: "datepicker_drop_off common_search_field", placeholder: "Check In", required: true) %>
      </div>
      <div class="col-xs-6">
        <%= text_field_tag(:check_out, nil, class: "datepicker_pick_up common_search_field", placeholder: "Check Out", required: true) %>
      </div>
    </div>
    <div style="margin-top: 1em;" class="row text-center">
      <div class="col-xs-6">
        <%= label_tag "Number of Dogs", nil, class: "search_label" %>
        <%= select_tag(:number_of_dogs, options_for_select(0..5), class: "form-control common_search_field") %>
      </div>
      <div class="col-xs-6">
        <%= label_tag "Number of cats", nil, class: "search_label" %>
        <%= select_tag(:number_of_cats, options_for_select(0..5), class: "form-control common_search_field") %>
      </div>
    </div>
    <div style="margin-top: 1em;" class="row text-center">
      <div class="col-xs-12">
        <%= label_tag "Number of rooms", nil, class: "search_label" %>
        <%= select_tag(:number_of_rooms, options_for_select(1..10), class: "form-control common_search_field") %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <%= submit_tag("Search", class: "search_submit_btn") %>
      </div>
    </div>
  </div>
<% end %>


<!-- TODO: place in cononical place for global access -->
<script type="text/javascript">
  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
  }
</script>
