<p class="kennel_h2">Policies</p>
<div style="height: auto; position: relative; overflow: hidden;">
	<% if !@kennel.nil? && !@runs.nil?%>
	<% @policies.each_with_index do |policy, i| %>
		<div class="show_bigger">
			<div class="pet_container" style="margin-top: 50px;width: 600px;height: 300px;padding-top: 50px;padding-right: 50px;  <%= (@policies.length == 1) ? 'float: none; margin: 0 auto !important;' : 'margin-right: 50px !important;float: left !important;margin-left: 125px; margin-bottom: 100px;' %>" >
				<br>
				<p class="font-18 vet_h pet_text no-float"><strong>Policy Title:</strong><%= " #{policy.title}" %></p>
				<p class="font-18 vet_h pet_text no-float"><strong>Description:</strong><%= " #{policy.description}" %></p>
					
				<%= link_to 'Edit', edit_policy_path(policy), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window9', class: 'text_info bold-text link_edit vet_link', style:"margin-left: 270px; margin-right: unset; margin-top: 30px; padding: 0;", id: 'edit_run' } %>
				<br>
				<br>
			</div>
			<% if i == @policies.length - 1%>
				<br>
				<br>
							<br>
				<br>
							<br>
				<div class="kennel_button booking_button" style="padding-top:10px; margin-right: auto;margin-left: auto; text-align: center;width: 150px !important; position: absolute; bottom: 0; right: 0; left: 0;">                 
					<%= link_to 'Add New', new_policy_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window10', style:"color: white;", class: 'a_as_button' } %>
				</div>
			<% end %>
		</div>
		<div class="show_smaller">
			<div class="pet_container" style="margin-top: 50px;width: 600px;height: 300px;padding-top: 50px;padding-right: 50px; float: none; margin: 0 auto !important; margin-bottom: 50px !important;" >
				<br>
				<p class="font-18 vet_h pet_text no-float"><strong>Policy Title:</strong><%= " #{policy.title}" %></p>
				<p class="font-18 vet_h pet_text no-float"><strong>Description:</strong><%= " #{policy.description}" %></p>
					
				<%= link_to 'Edit', edit_policy_path(policy, mobile: true), class: 'text_info bold-text link_edit vet_link', style:"margin-left: 270px; margin-right: unset; margin-top: 30px; padding: 0;", id: 'edit_run' %>
				<br>
				<br>
			</div>
			<% if i == @policies.length - 1%>
				<br>
				<br>
							<br>
				<br>
							<br>
				<div class="kennel_button booking_button" style="padding-top:10px; margin-right: auto;margin-left: auto; text-align: center;width: 150px !important; position: absolute; bottom: 0; right: 0; left: 0;">                 
					<%= link_to 'Add New', new_policy_path(mobile: true), style:"color: white;", class: 'a_as_button' %>
				</div>
			<% end %>
		</div>
	<% end %>
<br>
<% if @policies.length == 0 %>
	<div class="show_bigger">
		<div class="kennel_button booking_button" style="padding-top:10px; margin-right: auto;margin-left: auto; text-align: center;width: 150px !important; position: absolute; bottom: 0; right: 0; left: 0;">                 
				<%= link_to 'Add New', new_policy_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window10', style:"color: white;", class: 'a_as_button' } %>
			</div>
	</div>
	<div class="show_smaller">
		<div class="kennel_button booking_button" style="padding-top:10px; margin-right: auto;margin-left: auto; text-align: center;width: 150px !important; position: absolute; bottom: 0; right: 0; left: 0;">                 
				<%= link_to 'Add New', new_policy_path(mobile: true), style:"color: white;", class: 'a_as_button' %>
			</div>
	</div>
	<% end %>
<br>
<br>
	<% end %>
	</div>