<%= render partial: "shared/top_info" %>

<div class="container-fluid main_hero_bg">
  <div class="row text-center main_hero_text">
    <div class="col-xs-12">
      <h5 class="top_hero_text">Find a boarding kennel for your pet with ease.</h5>
      <h6 class="bottom_hero_text">We do all the searching for you. Enter your zip code, the dates for your pet’s holiday, and book it!</h6>
    </div>
  </div>
    <%= render partial: "shared/search_bar" %>
</div>

<%= render partial: "shared/why_pawbookings" %>

<%= render partial: "shared/testimonials" %>

<%= render partial: "shared/footer" %>


<!-- TESTING -->
