<%= render partial: "shared/top_info" %>

<div class="container-fluid main_hero_bg">
  <div class="row text-center main_hero_text">
    <div class="col-xs-12">
      <h5 class="top_hero_text">Lorem Ipsum Dolor Amet</h5>
      <h6 class="bottom_hero_text">Pellentesque venenatis feugiat tortor tincidunt egestas. Vestibulum ornare tortor...</h6>
    </div>
  </div>
    <%= render partial: "shared/search_bar" %>
</div>

<%= render partial: "shared/why_pawbookings" %>

<%= render partial: "shared/testimonials" %>

<%= render partial: "shared/footer" %>
