<%= render partial: "shared/top_info" %>

<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="main_title arvo_font">All Blog Categories</h5>
      <br />
      <% @all_blog_categories.each do |bc| %>
      <strong>Title</strong>
      <br />
      <%= bc.title %>
      <br>
      <br>
      <strong>Publish Date</strong>
      <br />
      <%= bc.publish_date %>
      <br>
      <br>
      <%= link_to "View", blog_category_path(bc.title) %>
      <br>
      <%= link_to "Edit Category", edit_blog_category_path(bc.id) %>
      <br>
      <%= link_to "Delete Category", blog_category_path(bc.id), data: {confirm: "Are you sure you want to delete?"}, method: "delete" %>
      <br>
      <br>
      <br>
      <% end  %>
    </div>
  </div>
</div>
