<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h5 class="main_title">My Dashboard</h5>
      <br />
      <div class="customer_dashboard_user_info_div">
        <h4 class="default_green_color">Primary Conact Info</h4>
        <p><strong>Email: </strong><%= current_user.email.capitalize %></p>
        <p><strong>First Name: </strong><%= current_user.first_name.capitalize %></p>
        <p><strong>Last Name: </strong><%= current_user.last_name.capitalize %></p>
        <p><strong>Phone: </strong><%= current_user.phone %></p>
        <p><strong>Time Zone: </strong><%= current_user.time_zone %></p>
        <%= button_to "Edit", edit_user_registration_path, class: "btn btn-primary", method: :get %>
      </div>
      <br />
      <div class="border"></div>
      <br />

      <div class="customer_photo_div">
        <h4 class="default_green_color">Select your photo</h4>
        <% if @customer.user_image_file_size.nil? %>
          <%= form_tag({controller: "customers", action: "create_user_image"}, multipart: true, method: "post") do |f| %>
            <%= file_field_tag :user_image %>
            <%= submit_tag "Submit", class:"btn btn-success" %>
          <% end %>
        <% end %>

        <% if !@customer.user_image_file_size.nil? %>
          <%= image_tag @customer.user_image.url(:thumb) %>
          <br>
          <%= link_to "Delete Image", delete_user_image_path, method: "delete" %>
        <% end  %>
      </div>
      <br />
      <div class="border"></div>
      <br />

      <div class="customer_emrgency_contact_div">
        <h4 class="default_green_color">Customer Emergency Contact</h4>
        <% if @customer_emergency_contact.nil? %>
          <%= button_to "Create New", new_customer_emergency_contact_path, class:"btn btn-success", method: :get %>
        <% else %>
          <%= form_for(@customer_emergency_contact, {controller: :customer_emergency_contact, action: :update}) do |f| %>
            <%= f.label :name %>
            <br />
            <%= f.text_field :name, class:"general_input" %>
            <br />
            <%= f.label :email %>
            <br />
            <%= f.text_field :email, class:"general_input" %>
            <br />
            <%= f.label :phone %>
            <br />
            <%= f.text_field :phone, class:"general_input" %>
            <br />
            <br />
            <%= f.submit "Update", class:"btn btn-primary" %>
          <% end %>
          <%= button_to "Delete", customer_emergency_contact_path(@customer_emergency_contact[:id]), data: {confirm: "Are you sure you want to delete your Secondary Emergency Contact"}, class:"btn btn-danger", method: :delete %>
        <% end %>
      </div>
      <br />
      <div class="border"></div>
      <br />

      <div class="customer_vet_info_div">
        <h4 class="default_green_color">Veterinarian Contact Info</h4>
        <% if @customer_vet_info.nil? %>
          <%= button_to "Create New", new_customer_vet_info_path, class:"btn btn-success", method: :get %>
        <% else %>
          <%= form_for(@customer_vet_info, {controller: :customer_vet_infos, action: :update}) do |f| %>
            <%= f.label :name %>
            <br />
            <%= f.text_field :name, class:"general_input" %>
            <br />
            <%= f.label :email %>
            <br />
            <%= f.text_field :email, class:"general_input" %>
            <br />
            <%= f.label :phone %>
            <br />
            <%= f.text_field :phone, class:"general_input" %>
            <br />
            <%= f.label :emergency_phone %>
            <br />
            <%= f.text_field :emergency_phone, class:"general_input" %>
            <br />
            <%= f.label :address %>
            <br />
            <%= f.text_field :address, class:"general_input" %>
            <br />
            <br />
            <%= f.submit "Update", class: "btn btn-primary" %>
          <% end %>
            <%= button_to "Delete", customer_vet_info_path(@customer_vet_info[:id]), class:"btn btn-danger", data: {confirm: "Are you sure you want to delete your Vet Contact Info?"}, method: :delete %>
        <% end %>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
