<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel1" style="font-family: 'Roboto; font-size:20px;">Enter Reservaton</h4>
</div>
<div class="modal-body" style="color: black;height: auto; margin-top:0 !important; background-color: white; float: none;
    text-align : center;">
   <%= form_tag @reservation, method: :post, id: 'form' do %>
          <p style="font-size: 20px !important;">Pet-Owner Info</p>
          <br>
           <p class="font-18">First name:</p>
            <%= text_field_tag :customer_first_name, nil, placeholder: "", class: "form-control payment_input input_new_reserv" %>
            <br>
            <p class="font-18">Last name:</p>
            <%= text_field_tag :customer_last_name, nil, placeholder: "", class: "form-control payment_input input_new_reserv"%>
            <br>
            <p class="font-18">Phone:</p>
            <%= text_field_tag :customer_phone, nil, placeholder: "", class: "form-control payment_input input_new_reserv" %>
            <br>
            <p class="font-18">Email:</p>
            <%= text_field_tag :customer_email, nil, placeholder: "", class: "form-control payment_input input_new_reserv" %>
            <br>
            <section id="pets-section">
            </section>
              <p class="font-18">Select room units:</p>
              <select id="room-units" multiple="multiple" name="room-units[]" class="input_new_reserv">
                <% @runs.each do |run| %>
                  <option value="<%= run.id %>"><%= "#{run.title} ($#{run.price})"%></option>
                <% end %>
              </select>
              <br>
              <br>
              <p class="font-18">Check-in - check-out:</p>
              <%= text_field_tag(:reservation_dates, nil, class: "form-control daterange_check_in common_search_field text-center input_new_reserv", required: true, name: "reservation_dates", value: '') %>
              <br>
              <p class="font-18">Select amenities:</p>
              <select id="amenities" multiple="multiple" name="amenities[]" class="input_new_reserv">
                <% @amenities.each do |amenity| %>
                  <option value="<%= amenity.id %>"><%= "#{amenity.title} ($#{amenity.price})"%></option>
                <% end %>
              </select>
              <br>
              <br>
              <br>
          <div class="form-actions">
            <p onclick="return submitForm()", class="text_info bold-text link_edit vet_link submit_link font-20", style="text-align:center; float: none; margin:0; padding:0;">Save</p>
            </div>  
      <% end %>
</div>


<script type="text/javascript">
     function submitForm() {
        $("#form").submit();
    }

  function paymentChangeBreed(){
    var total_pets = parseInt("<%= @total_pets %>");
    while(total_pets > 0 ){
      if ($("#pet_type_"+total_pets).val() == "dog"){
        console.log($("#pet_type_"+total_pets).val());
        $(".pet_breed_selection_"+total_pets).show();
      } else {
        $(".pet_breed_selection_"+total_pets).hide();
      }
      total_pets -= 1;
    }
  }

  function addSelectedPetToForm(pet_number, name, cat_or_dog, breed, weight, vaccinations, spay_or_neutered, special_instructions){

    // NEEDS TO BE SWITCHED TO TARGET CLASS SO BOTH MOBILE AND DESKTOP CHANGE
    $(".pet_name_" + pet_number).val(name);
    $(".pet_type_" + pet_number).val(cat_or_dog);
    $(".pet_breed_" + pet_number).val(breed);
    $(".pet_weight_" + pet_number).val(weight);
    $(".pet_vaccinations_" + pet_number).val(vaccinations);
    $(".pet_spay_or_neutered_" + pet_number).val(spay_or_neutered);
    $(".pet_special_instructions_" + pet_number).val(special_instructions);

    if(cat_or_dog == "cat"){
      $(".pet_breed_selection_" + pet_number).hide();
    } else {
      $(".pet_breed_selection_" + pet_number).show();
    }
  }

  $(document).ready(function() {
    $('#pets').multiselect();
    $('#room-units').multiselect();
    $('#amenities').multiselect();



    $("#customer_email").blur(function(){
      // alert("This input field has lost its focus.");


      $.ajax({
          url: '/get_pets',
          type: 'GET',
          dataType: 'HTML',
          data: {
                  email: $('#customer_email').val(),
                  customer_first_name: $('#customer_first_name').val(),
                  customer_last_name: $('#customer_last_name').val(),
                  customer_phone: $('#customer_phone').val()
                 },
          success: function(result) {
            // console.log(result);
            $('#pets-section').html(result);
            $('#pets').multiselect();
            $('#pets').multiselect('rebuild');

          }
        });
    });
  });



</script>
