<div class="container">
  <%= form_tag @kennel, method: :put, id: 'form', multipart: true, style: 'text-align: center;' do %>
    <div class="row" style="margin-top: -40px;float: right;margin-right: 10px;"><span style="font-size: 25px;cursor: pointer;" onclick="location.href='/kennels?tab=kennel'">x</span></div>
	  <p style="font-size: 20px !important; margin-top: 50px; margin-bottom: 50px;">Edit Your Kennel</p>
    <br>
    <%= hidden_field_tag :id, @kennel.id %>
    <%= hidden_field_tag :mobile, true %>
    <p class="font-18">Avatar:</p>
    <%= file_field_tag :avatar, placeholder:'Choose file', class:"form-control payment_input input_new_reserv black_18 margin-0-auto link_edit", style:'height: 40px;' %>
      <br>
      <p class="font-18">Name:</p>
      <%= text_field_tag :name, nil, value: @kennel.name, class: "form-control payment_input input_new_reserv black_18" %>
      <br>
      <p class="font-18">Address:</p>
      <%= text_field_tag :address, nil, value: @kennel.address, class: "form-control payment_input input_new_reserv black_18"%>
      <br>
      <p class="font-18">Email:</p>
      <%= text_field_tag :email, nil, value: @kennel.email, class: "form-control payment_input input_new_reserv black_18" %>
      <br>
      <p class="font-18">Phone:</p>
      <%= text_field_tag :phone, nil, value: @kennel.phone, class: "form-control payment_input input_new_reserv black_18" %>
      <br>
      <p class="font-18">Zip:</p>
      <%= text_field_tag :zip, nil, value: @kennel.zip, class: "form-control payment_input input_new_reserv black_18" %>
      <br>
      <p class="font-18">Sales tax:</p>
      <%= text_field_tag :sales_tax, nil, value: @kennel.sales_tax, class: "form-control payment_input input_new_reserv black_18" %>
      <br>
      <p class="font-18">Mission statement:</p>
      <%= text_field_tag :mission_statement, nil, value: @kennel.mission_statement, class: "form-control payment_input input_new_reserv black_18" %>
      <br>
      <% @kennel_update ||= params[:kennel_update] %>
      <% if !@kennel_update.nil? %>
        <% @kennel_update.each do |error|%>
          <p style="color:red; font-weight: bold;"><%= "#{error.sub(/./, &:capitalize)} is invalid" %></p>
        <% end %>
      <% end %> 
      <br>
      <br>
    <div class="form-actions">
      <p onclick="return submitForm()", class="text_info bold-text link_edit vet_link submit_link font-20", style="text-align:center; float: none; margin:0; padding:0;">Save</p>
      </div>  
  <% end %>
</div>

<script>
  function submitForm() {
    $("#form").submit();
  };

  $(document).ready(function() {
    $("#phone").mask("(999) 999-9999");
  });
</script>