<h1 style="text-decoration:underline;">Kennel Dashboard</h1>

<%= image_tag @kennel.avatar.url(:thumb) if !@kennel.nil? %>
<%#= image_tag @photo.image.url(:thumb) if !@photo.nil? %>
<p><strong>Manager: </strong><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></p>
<p><strong>Email: </strong><%= current_user.email.capitalize %></p>
<% if !@kennel.nil? %>
    <h3><strong><%= @kennel.name %></strong></h3>
    <p><strong>Address:</strong> <%= @kennel.address %></p>
    <p><strong>City:</strong> <%= @kennel.city %></p>
    <p><strong>State:</strong> <%= @kennel.state %></p>
    <p><strong>Zip:</strong> <%= @kennel.zip %></p>
    <p><strong>Phone:</strong> <%= @kennel.phone %></p>
    <%= link_to "View info", my_kennel_info_path(kennel_id: @kennel.id) %>
<% else %>
  <h1>Register a Kennel</h1>
  <%= link_to "Kennel registration", new_kennel_path %>
<% end %>

<br>
<br>
<%= month_calendar(attribute: :check_in_date) do |date| %>
  <%= unsanitize_date(date.to_s) %>
  <br>
  <% counter = [] %>
  <% if !@reservations.nil? %>
    <% @reservations.each do |res| %>
      <% @pet_stay_date_range = (res[:check_in_date]..res[:check_out_date]).map{|date| date} %>
      <% if @pet_stay_date_range.include? date %>
        <% counter << res %>
        <%= "•#{res.payment_first_name}" %>
        <br>
      <% end %>
    <% end %>
  <% end %>
  <% if @kennel.nil? %>
    <%= link_to "View details", kennel_reservations_path(reservation_ids: counter, date: unsanitize_date(date.to_s)) %>
  <% else %>
    <%= link_to "View details", kennel_reservations_path(reservation_ids: counter, date: unsanitize_date(date.to_s), kennel_id: @kennel[:id]) %>
  <% end %>
<% end %>
