<h1 style="text-decoration:underline;">Kennel Dashboard</h1>

<%= image_tag @kennel.avatar.url(:thumb) if !@kennel.nil? %>
<%#= image_tag @photo.image.url(:thumb) if !@photo.nil? %>
<p><strong>Manager: </strong><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></p>
<p><strong>Email: </strong><%= current_user.email.capitalize %></p>
<% if !@kennel.nil? %>
    <h3><strong><%= @kennel.kennel_name %></strong></h3>
    <p><strong>Address:</strong> <%= @kennel.kennel_address %></p>
    <p><strong>City:</strong> <%= @kennel.city %></p>
    <p><strong>State:</strong> <%= @kennel.state %></p>
    <p><strong>Zip:</strong> <%= @kennel.zip %></p>
    <p><strong>Phone:</strong> <%= @kennel.phone %></p>
    <%= link_to "View info", my_kennel_info_path(kennel_id: @kennel.id) %>
<% else %>
  <h1>Register a Kennel</h1>
<% end %>
