<h1 style="text-decoration:underline;">Kennel Dashboard</h1>
<p><strong>Manager: </strong><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></p>
<p><strong>Email: </strong><%= current_user.email.capitalize %></p>

<% if !@kennel.nil? %>
  <% @kennel.each do |k| %>
    <h3><strong><%= k.kennel_name %></strong></h3>
    <p><strong>Address:</strong> <%= k.kennel_address %></p>
    <p><strong>City:</strong> <%= k.city %></p>
    <p><strong>State:</strong> <%= k.state %></p>
    <p><strong>Zip:</strong> <%= k.zip %></p>
    <p><strong>Phone:</strong> <%= k.phone %></p>
    <%= link_to "View info", my_kennel_info_path(kennel_id: k.id) %>
  <% end %>
  <% else %>
  <h1>Register a Kennel</h1>
<% end %>
