<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="main_title text_underline"><%= params[:date] %></h5>
      <br />
      <% if @all_run_ids_and_quantities.nil? %>
        <% runs = Run.where(kennel_id: @kennel[:id]).to_a %>
        <% runs.each do |run| %>
      <strong class="default_green_color"><%= "#{run[:title]} - #{run[:number_of_rooms]} room(s) available for booking." %></strong>
        <% end %>
      <% else %>
        <% @all_run_ids_and_quantities.each do |run_id, quantity| %>
          <% run = Run.find(run_id) %>
          <% if quantity > 0 %>
            <strong class="default_green_color"><%= "#{run[:title]} - #{quantity} room(s) available for booking." %></strong>
          <% elsif quantity == 0 %>
            <strong style="color:red;"><%= "#{run[:title]} is maxed out." %></strong>
          <% else %>
            <strong style="color:red;"><%= "#{run[:title]} is overbooked, please contact Pawbookings to resolve." %></strong>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-xs-12 col-md-6">
      <br />
      <% if @current_reservations.blank? %>
        <strong>•No reservations</strong>
      <% else %>
        <h4 class="default_green_color text_underline">Reservations:</h4>
        <br />
        <% @current_reservations.each do |res| %>
          <div class="kennel_reservations_individual_div">
            <strong>ReservationID: </strong>
            <br />
            <h2 class="default_green_color"><%= res[:id] %></h2>
            <br />
            <strong>First Name: </strong>
            <br />
            <span class="default_green_color"><%= res[:customer_first_name].capitalize %></span>
            <br />
            <br />
            <strong>Last Name: </strong>
            <br />
            <span class="default_green_color"><%= res[:customer_last_name].capitalize %></span>
            <br />
            <br />
            <strong>Email: </strong>
            <br />
            <span class="default_green_color"><%= res[:customer_email] %></span>
            <br />
            <br />
            <strong>Phone: </strong>
            <br />
            <span class="default_green_color"><%= res[:customer_phone] %></span>
            <br />
            <br />
            <strong>Rooms Taken:</strong>
            <br />
            <% JSON.parse(res[:room_details]).each do |title, price| %>
              <span class="default_green_color"><%= "#{title} - #{price}" %></span>
              <br />
            <% end %>

            <br />

            <% if res[:amenity_details].nil? %>
              <strong>•No Amenities Chosen.</strong>
            <% else %>
              <strong>Amenities:</strong>
              <br />
              <% JSON.parse(res[:amenity_details]).each do |title, description, price, quantity| %>
                <span class="default_green_color"><%= "•#{title} '#{description}' - #{price} x #{quantity}" %></span>
              <% end %>
            <% end %>

            <br />
            <br />

            <strong>Pets:</strong>
            <br />
            <% JSON.parse(res[:pet_ids]).each do |pet_id| %>
              <% pet = Pet.find(pet_id) %>
              <strong>Name: </strong><span class="default_green_color"><%= pet[:name] %></span>
              <br />
              <strong>Cat or Dog: </strong><span class="default_green_color"><%= pet[:cat_or_dog] %></span>
              <br />
              <strong>Breed: </strong><span class="default_green_color"><%= pet[:breed] %></span>
              <br />
              <strong>Weight: </strong><span class="default_green_color"><%= pet[:weight] %></span>
              <br />
              <strong>Vaccinations: </strong><span class="default_green_color"><%= pet[:vaccinations] %></span>
              <br />
              <strong>Spay or Neutered: </strong><span class="default_green_color"><%= pet[:spay_or_neutered] %></span>
              <br />
              <strong>Special Instructions: </strong><span class="default_green_color"><%= pet[:special_instructions] %></span>
              <br />
              <br />
            <% end %>

            <strong>Check-In Date: </strong><span class="default_green_color"><%= unsanitize_date(res[:check_in_date].to_s) %></span>
            <br />
            <strong>Check-Out Date: </strong><span class="default_green_color"><%= unsanitize_date(res[:check_out_date].to_s) %></span>
            <br />
            <strong>Total Price: </strong><span class="default_green_color"><%= res[:total_price] %></span>
            <br />
            <br />
            <%= link_to "Customer contract for Check-In", customer_checkin_contract_path(reservation_id: res[:id], user_id: res[:user_id], customer_first_name: res[:customer_first_name], customer_last_name: res[:customer_last_name], check_in_date: res[:check_in_date], check_out_date: res[:check_out_date], customer_email: res[:customer_email], customer_phone: res[:customer_phone], room_details: res[:room_details], run_ids: res[:run_ids], total_price: res[:total_price], kennel_address: @kennel[:address], kennel_city: @kennel[:city], kennel_state: @kennel[:state], kennel_zip: @kennel[:zip], kennel_email: @kennel[:email], kennel_phone: @kennel[:phone], kennel_name: @kennel[:name], pets: res[:pet_ids], format: :pdf), target: '_blank', class:"btn btn-primary" %>
            <br />
            <% if res[:checked_in] == "true" %>
            <br />
              <p style="color:green">√ This user has been marked as checked-in. <%= link_to "revert?", check_in_check_out_reservation_path(checked_in: "false", id: res[:id]), method: :put %></p>
            <% else %>
            <br />
              <%= button_to "Check-In this customer", check_in_check_out_reservation_path(checked_in: "true", id: res[:id]), method: :put, class:"btn btn-primary" %>
            <% end %>
            <br>
            <% if res[:checked_out] == "true" %>
              <p style="color:green">√ This user has been marked as checked-out. <%= link_to "revert?", check_in_check_out_reservation_path(checked_out: "false", id: res[:id]), method: :put %></p>
            <% else %>
              <%= button_to "Check-Out this customer", check_in_check_out_reservation_path(checked_out: "true", id: res[:id]), method: :put, class:"btn btn-primary" %>
            <% end %>
            <% if @reservations_checking_out_today.include? res[:id] %>
              <br />
              <strong style="color:#ff7e7e;">**This reservation is scheduled for check-out today**</strong>
            <% elsif @reservations_checking_in_today.include? res[:id] %>
              <br />
              <strong style="color:#57d54b;">**This reservation is scheduled for check-in today**</strong>
            <% end %>
            <br />
            <br />
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
