<%= render partial: "shared/top_info" %>
<body class="kennel_reservations_body">
  <div class="container-fluid searched_res_container_desktop">
    <div class="searched_res_desktop">
      <div class="row">
        <div class="col-md-12">
          <h5 class="main_title arvo_font text_underline text-center">ReservationID: <%= @reservation[:id] %></h5>
          <br />
          <br />
          <table class="kennel_reservation_customer_table">
            <caption class="text-center default_green_color">
              <strong class="text_underline">Customer Info:</strong>
            </caption>
            <tr>
              <th class="kennel_reservation_th default_green_color">Res-ID</th>
              <th class="kennel_reservation_th default_green_color">Picture</th>
              <th class="kennel_reservation_th default_green_color">First Name</th>
              <th class="kennel_reservation_th default_green_color">Last Name</th>
              <th class="kennel_reservation_th default_green_color">Email</th>
              <th class="kennel_reservation_th default_green_color">Phone</th>
              <th class="kennel_reservation_th default_green_color">Room Details</th>
              <th class="kennel_reservation_th default_green_color">Amenities</th>
              <th class="kennel_reservation_th default_green_color">Check-In</th>
              <th class="kennel_reservation_th default_green_color">Check-Out</th>
              <th class="kennel_reservation_th default_green_color">Total</th>
            </tr>
            <tr>

              <td class="kennel_reservation_td"><%= @reservation[:id] %></td>
              <% user = User.find(@reservation[:user_id]) %>
              <td class="kennel_reservation_td"><%= image_tag user.user_image.url(:thumb), class: "kennel_dashboard_avatar" if !user.user_image.url.nil? %></td>
              <td class="kennel_reservation_td"><%= @reservation[:customer_first_name].capitalize %></td>
              <td class="kennel_reservation_td"><%= @reservation[:customer_last_name].capitalize %></td>
              <td class="kennel_reservation_td"><%= @reservation[:customer_email].capitalize %></td>
              <td class="kennel_reservation_td"><%= @reservation[:customer_phone] %></td>
              <% JSON.parse(@reservation[:room_details]).each do |title, price| %>
                <td class="kennel_reservation_td">
                  <p><%= "#{title} - $#{price}" %></p>
                </td>
              <% end %>
              <% if @reservation[:amenity_details].nil? %>
                <td class="kennel_reservation_td">
                  <strong class="default_white_color">•No Amenities Chosen.</strong>
                </td>
              <% else %>
                <% JSON.parse(@reservation[:amenity_details]).each do |title, description, price, quantity| %>
                  <td class="kennel_reservation_td">
                    <%= "#{title} - #{description} - $#{price} x #{quantity}" %>
                    <br />
                    <br />
                  </td>
                <% end %>
              <% end %>
              <td class="kennel_reservation_td"><%= unsanitize_date(@reservation[:check_in_date].to_s) %></td>
              <td class="kennel_reservation_td"><%= unsanitize_date(@reservation[:check_out_date].to_s) %></td>
              <td class="kennel_reservation_td"><%= "$#{@reservation[:total_price]}" %></td>
            </tr>
          </table>
          <br />
          <br />
          <% @pets.each do |pet| %>
            <table class="kennel_reservation_customer_table">
              <caption class="text-center default_green_color">
                <strong class="text_underline">Pet#<%= @counter %>:</strong>
              </caption>
              <tr>
                <th class="kennel_reservation_th default_green_color">Picture</th>
                <th class="kennel_reservation_th default_green_color">Name</th>
                <th class="kennel_reservation_th default_green_color">Type</th>
                <th class="kennel_reservation_th default_green_color">Breed</th>
                <th class="kennel_reservation_th default_green_color">Weight</th>
                <th class="kennel_reservation_th default_green_color">Spay or Neutered</th>
                <th class="kennel_reservation_th default_green_color">Vaccinations</th>
                <th class="kennel_reservation_th default_green_color">Special Instructions</th>
              </tr>
              <tr>
                <td class="kennel_reservation_td"><%= image_tag pet.avatar.url(:thumb), class: "kennel_dashboard_avatar" if !pet.avatar.url.nil? %></td>
                <td class="kennel_reservation_td"><%= pet[:name].capitalize %></td>
                <td class="kennel_reservation_td"><%= pet[:cat_or_dog].capitalize %></td>
                <td class="kennel_reservation_td"><%= pet[:breed] %></td>
                <td class="kennel_reservation_td"><%= pet[:weight] %> lbs</td>
                <td class="kennel_reservation_td"><%= pet[:spay_or_neutered].capitalize %></td>
                <% if pet[:vaccinations] == "true" %>
                  <% if pet[:vaccination_record_file_name].nil? %>
                    <td class="kennel_reservation_td"><strong>•Did not upload record</strong></td>
                  <% else %>
                    <td class="kennel_reservation_td"><%= link_to "#{pet[:vaccination_record_file_name]}", pet.vaccination_record.url %></td>
                  <% end %>
                <% else %>
                  <td class="kennel_reservation_td"><strong>False</strong></td>
                <% end %>
                <% if pet[:special_instructions].blank? %>
                  <td class="kennel_reservation_td"><strong>n/a</strong></td>
                <% else %>
                  <td class="kennel_reservation_td"><%= pet[:special_instructions] %></td>
                <% end %>
              </tr>
            </table>
            <br />
            <br />
            <% @counter -= 1 %>
          <% end %>
        </div>
      </div>
    </div>


  <!--  -->


    <div class="searched_res_mobile">
      <div class="row text-center">
        <div class="col-xs-12">
          <h5 class="main_title arvo_font text_underline text-center">ReservationID: <%= @reservation[:id] %></h5>
          <!-- <div class="searched_res_check_in_and_out_div"> -->
            <!-- <div class="border"></div> -->
            <!-- <br> -->
            <!-- <h4 class="default_green_color">Customer Check-In/Check-Out</h4> -->
            <!-- <br /> -->
            <%#= link_to "Customer contract for Check-In", customer_checkin_contract_path(reservation_id: @reservation[:id], user_id: @reservation[:user_id], customer_first_name: @reservation[:customer_first_name], customer_last_name: @reservation[:customer_last_name], check_in_date: @reservation[:check_in_date], check_out_date: @reservation[:check_out_date], customer_email: @reservation[:customer_email], customer_phone: @reservation[:customer_phone], room_details: @reservation[:room_details], run_ids: @reservation[:run_ids], total_price: @reservation[:total_price], kennel_address: params[:kennel_info][:address], kennel_city: params[:kennel_info][:city], kennel_state: params[:kennel_info][:state], kennel_zip: params[:kennel_info][:zip], kennel_email: params[:kennel_info][:email], kennel_phone: params[:kennel_info][:phone], kennel_name: params[:kennel_info][:name], pets: @pet_ids.to_s, format: :pdf), target: '_blank', class:"btn btn-primary" %>
            <!-- <br> -->
            <!-- <br> -->
            <%# if @reservation[:checked_in] == "true" %>
              <!-- <p style="color:green">√ This user has been marked as checked-in. <%#= link_to "revert?", check_in_check_out_reservation_path(checked_in: "false", id: @reservation[:id]), method: :put %></p> -->
            <%# else %>
              <%#= button_to "Check-In this customer", check_in_check_out_reservation_path(checked_in: "true", id: @reservation[:id]), method: :put, class:"btn btn-primary" %>
            <%# end %>
            <!-- <br> -->
            <%# if @reservation[:checked_out] == "true" %>
             <!--  <p style="color:green">√ This user has been marked as checked-out. <%#= link_to "revert?", check_in_check_out_reservation_path(checked_out: "false", id: @reservation[:id]), method: :put %></p> -->
            <%# else %>
              <%#= button_to "Check-Out this customer", check_in_check_out_reservation_path(checked_out: "true", id: @reservation[:id]), method: :put, class:"btn btn-primary" %>
            <%# end %>
            <!-- <br /> -->
            <!-- <br /> -->
            <!-- <div class="border"></div> -->
          <!-- </div> -->

          <div class="searched_res_customer_info_div">
            <h4 class="default_green_color">Customer Info</h4>
            <br />
            <p><strong>First Name: </strong><%= @reservation[:customer_first_name] %></p>
            <p><strong>Last Name: </strong><%= @reservation[:customer_last_name] %></p>
            <p><strong>Email: </strong><%= @reservation[:customer_email] %></p>
            <p><strong>Phone: </strong><%= @reservation[:customer_phone] %></p>
            <br />
          </div>
          <div class="border"></div>
          <div class="searched_res_rooms_chosen_div">
            <br />
            <h4 class="default_green_color">Rooms Details</h4>
            <br />
            <% JSON.parse(@reservation[:room_details]).each do |room_name, room_price| %>
            <strong>•<%= room_name %>- $<%= room_price %></strong>
            <br>
            <br>
            <% end %>
          </div>
          <br />
          <div class="border"></div>
          <div class="searched_res_check_in_and_out_dates_div">
            <br />
            <h4 class="default_green_color">Check-in/Check-out Dates</h4>
            <br />
            <strong>Check-In: </strong>
            <br />
            <strong><h5><%= unsanitize_date(@reservation[:check_in_date].to_s) %></h5></strong>
            <br>
            <strong>Check-Out: </strong>
            <br />
            <h5><%= unsanitize_date(@reservation[:check_out_date].to_s) %></h5>
          </div>
          <br />
          <div class="border"></div>
          <div class="searched_res_pets_chosen_div">
            <br />
            <h4 class="default_green_color">Pets Chosen</h4>
            <br />
            <% counter = @pets.length %>
            <% @pets.each do |pet| %>
              <h5 class="default_green_color">Pet #<%= counter %></h5>
              <p><strong>Name: </strong><%= pet[:name] %></p>
              <p><strong>Cat or Dog: </strong><%= pet[:cat_or_dog] %></p>
              <p><strong>Breed: </strong><%= pet[:breed] %></p>
              <p><strong>Weight: </strong><%= pet[:weight] %></p>
              <p><strong>Vaccincated: </strong><%= pet[:vaccinations] %></p>
              <p><strong>Spay or Neutered: </strong><%= pet[:spay_or_neutered] %></p>
              <br>
              <% counter -= 1 %>
            <% end %>
          </div>
          <br />
          <div class="border"></div>
          <div class="searched_res_amenities_chosen_div">
            <br />
            <h4 class="default_green_color">Amenities</h4>
            <br />
            <% if @reservation[:amenity_details].nil? %>
            <p><strong>•No Amenities Chosen.</strong></p>
            <% else %>
              <% JSON.parse(@reservation[:amenity_details]).each do |name, description, price, quanity| %>
                <strong><%= "•#{name}: #{description}" %></strong>
                <br />
                <strong><%= "$#{price} x #{quanity}" %></strong>
                <br />
                <br />
              <% end %>
            <% end %>
          </div>
          <br />
          <div class="border"></div>
          <div class="searched_res_total_price_div">
            <br />
            <h4 class="default_green_color">Total Price</h4>
            <br />
            <strong>$<%= @reservation[:total_price] %></strong>
          </div>
          <br />
          <br />
          <div class="border"></div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</body>
