<%= render partial: "shared/top_info" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h5 class="kennel_dashboard_title">Kennel Dashboard</h5>
        <%= image_tag @kennel.avatar.url(:thumb), class: "kennel_dashboard_avatar" if !@kennel.nil? %>
      </div>
      <div class="kennel_dashboard_general_info_div text-center">
        <% if !@kennel.nil? %>
            <%= form_for(@kennel, {id: @kennel.id}) do |f| %>
              <%= f.label :kennel_name %>
              <br />
              <%= f.text_field :name, class: "kennel_dashboard_input" %>
              <br />
              <%= f.label :address %>
              <br />
              <%= f.text_field :address, class: "kennel_dashboard_input" %>
              <br />
              <%= f.label :mission_statement %>
              <br />
              <%= f.text_area :mission_statement, class: "kennel_dashboard_input" %>
              <br />
              <%= f.label :city %>
              <br />
              <%= f.text_field :city, class: "kennel_dashboard_input" %>
              <br />
              <%= f.label :state %>
              <br />
              <%= f.text_field :state, class: "kennel_dashboard_input" %>
              <br />
              <%= f.label :zip %>
              <br />
              <%= f.text_field :zip, class: "kennel_dashboard_input" %>
              <br />
              <%= f.label :email %>
              <br />
              <%= f.text_field :email, class: "kennel_dashboard_input" %>
              <br />
              <%= f.label :logo %>
              <br />
              <%= f.file_field :avatar, class: "kennel_dashboard_input text-center" %>
              <br />
              <%= f.submit "Update Kennel Info", class: "btn btn-success" %>
            <% end %>
        <% else %>
          <h3 style="color:#48cd7e;">Register a Kennel</h3>
          <%= link_to "Kennel registration", new_kennel_path %>
        <% end %>
      </div>

      <div class="most_booked_runs text-center">
        <% if !@reservations.nil? %>
          <div class="border"></div>
          <h3 style="color:#48cd7e;">Most Booked Runs</h3>
          <%= pie_chart @run_names_and_counts %>
        <% end %>
      </div>

      <% if !@kennel.nil? %>
        <div class="kennel_dashboard_option_btns_div text-center">
          <%= link_to "Runs", new_run_path, class: "btn btn-primary" %>
          <%= link_to "Amenities", new_amenity_path, class: "btn btn-primary" %>
          <%= link_to "Hours of Operation", edit_hours_of_operation_path(id: @hours_of_operation[:id]), class: "btn btn-primary" %>
          <%= link_to "Holidays", "#", class: "btn btn-primary" %>
          <%= link_to "Policies", "#", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="border"></div>

      <div class="kennel_dashboard_res_search text-center">
        <h3 style="color:#48cd7e;">Search for reservations:</h3>
        <%= form_tag({controller: 'kennels', action: 'kennel_dashboard'}, method: 'get') do %>
          <p>Search by:</p>
          <%= radio_button_tag(:search_by, "reservationID", active: true) %>Reservation-ID
          <%= radio_button_tag(:search_by, "customer_last_name") %>Last-Name
          <%= radio_button_tag(:search_by, "customer_email") %>Email
          <%= radio_button_tag(:search_by, "customer_phone") %>Phone
          <br />
          <br />
          <%= text_field_tag :reservation_search, nil, placeholder: " Search", class: "kennel_dashboard_input" %>
          <br>
          <br>
          <%= submit_tag "Search Now", class: "btn btn-success" %>
        <% end %>
      </div>

      <div class="kennel_dashboard_search_results text-center">
        <% if !@kennel.nil? %>
          <% if !@reservation_search_results.blank? %>
            <h3 style="text-decoration:underline;">Reservation Results</h3>
            <% @reservation_search_results.each do |res| %>
              <strong>First Name:</strong><%= " #{res[:customer_first_name]}" %>
              <br>
              <strong>Last Name:</strong><%= " #{res[:customer_last_name]}" %>
              <br>
              <strong>Email:</strong><%= " #{res[:customer_email]}" %>
              <br>
              <strong>Phone:</strong><%= " #{res[:customer_phone]}" %>
              <br>
              <br>
              <%= button_to "Select", kennel_searched_reservation_path(id: res[:id], kennel_info: {name: @kennel[:name], address: @kennel[:address], city: @kennel[:city], state: @kennel[:state], zip: @kennel[:zip], phone: @kennel[:phone], email: @kennel[:email] } ), class:"btn btn-primary" %>
              <br>
            <% end %>
          <% else %>
            <h3>No results..</h3>
          <% end %>
        <% else %>
          <h3>No results..</h3>
        <% end %>
      </div>

    </div>
  </div>
  <div class="row">
    <%= month_calendar(attribute: :check_in_date) do |date| %>
    <%= unsanitize_date(date.to_s) %>
    <br>
    <% counter = [] %>
    <% if !@reservations.nil? %>
    <% @reservations.each do |res| %>
    <% @pet_stay_date_range = (res[:check_in_date]..res[:check_out_date]).map{|date| date} %>
    <% if @pet_stay_date_range.include? date %>
    <% counter << res %>
    <%= "•#{res.customer_first_name}" %>
    <br>
    <% end %>
    <% end %>
    <% end %>
    <% if @kennel.nil? %>
    <%= link_to "View details", kennel_reservations_path(reservation_ids: counter, date: unsanitize_date(date.to_s)) %>
    <% else %>
    <%= link_to "View details", kennel_reservations_path(reservation_ids: counter, date: unsanitize_date(date.to_s), kennel_id: @kennel[:id]) %>
    <% end %>
    <% end %>
    <br>
  </div>
</div>

<%= render partial: "shared/footer" %>
