<h1>My Reservations Info</h1>

<h3>Pets Staying Today</h3>
<% if @no_reservations %>
  <p>N/a</p>
<% else %>
  <% @pets.each do |pet| %>
    Pet ID: <%= pet[:id] %>
    <br>
    Name: <%= pet[:name] %>
    <br>
    Cat or Dog: <%= pet[:cat_or_dog] %>
    <br>
    Breed: <%= pet[:breed] %>
    <br>
    Weight: <%= pet[:weight] %>
    <br>
    Check-In: <%= pet[:check_in] %>
    <br>
    Check-Out: <%= pet[:check_out] %>
    <br>
    <%= link_to "Get owner info", kennel_reservation_pet_owner_info_path(id: pet[:user_id]) %>
    <br>
    <br>
  <% end %>
<% end %>

<h3>Rooms currently maxed out today</h3>
<% if !@runs_maxed_today.blank? %>
  <% @runs_maxed_today.each do |rm|  %>
    <%= "•#{rm}" %>
    <br>
  <% end %>
<% else %>
  <p>•No runs maxed out</p>
<% end %>

<h3>Rooms available today</h3>
<% if !@runs_with_days_left.blank? %>
  <% @runs_with_days_left.each do |k, v| %>
    <%= "•#{k}, #{v} room(s)" %>
    <br>
  <% end %>
  <% if !@runs.nil? %>
    <% @runs.each do |run| %>
      <% if (!@runs_with_days_left.flatten.include? run[:title]) && (!@runs_maxed_today.include? run[:title]) %>
        <%= "•#{run[:title]}, #{run[:number_of_rooms]} room(s)" %>
      <% end %>
    <% end %>
  <% end %>
<% elsif @no_reservations %>
  <p>•All runs available</p>
<% else %>
  <% if !@runs.nil? %>
    <% @runs.each do |ru| %>
      <% if !@runs_maxed_today.include? ru[:title] %>
        <%= "•#{ru[:title]}, #{ru[:number_of_rooms]} room(s)" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if !@run_names.nil? %>
  <% @run_names.each do |k, v| %>
    <p><%= "•#{k}, #{v} room(s). Available only after checkout-time." %></p>
  <% end %>
<% end %>

<% if !@pets_going_home.blank? %>
  <h3>Pets going home after check out time</h3>
  <% @pets_going_home.each do |ph| %>
    <p>Pet ID: <%= ph[0] %></p>
  <% end %>
<% end  %>
