<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row dashboard_default_background_color text-center">
    <div class="col-xs-12">
      <h5 class="main_title arvo_font">Register My Kennel:</h5>
      <br />
    </div>
  </div>
  <div class="border"></div>
  <div class="border"></div>
  <br />
  <br />
  <div class="row">
    <div class="col-xs-12">
      <div class="kennel_registration_form_div text-center">
        <%= form_for @kennel do |f| %>
        <div class="row text-center">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <%= f.hidden_field :taken_ownership, value: true %>
            <%= f.label :name %>
            <br />
            <%= f.text_field :name, placeholder: " Kennel-Name", class: "kennel_dashboard_input_edit" %>
            <br />
            <br />
            <%= f.label :pets_allowed %>
            <br />
            <%= f.select :cats_or_dogs, options_for_select(cat_or_dog_options), class: "kennel_dashboard_input_edit" %>
            <br />
            <br />
            <%= f.label :address %>
            <br />
            <%= f.text_field :address, placeholder: " Address", class: "kennel_dashboard_input_edit" %>
            <br />
            <br />
            <%= f.label :city %>
            <br />
            <%= f.text_field :city, placeholder: " City", class: "kennel_dashboard_input_edit" %>
            <br />
            <br />
            <%= f.label :state %>
            <br />
            <%= f.select :state, options_for_select(states_options), class: "kennel_dashboard_input_edit" %>
            <br />
            <br />
            <div class="row text-center">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <%= f.label :kennel_logo %>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-4">
                <%= f.file_field :avatar, class: "text-center btn btn-primary" %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <%= f.label :zip %>
            <br />
            <%= f.text_field :zip, placeholder: " Zip", class: "kennel_dashboard_input_edit", onkeypress: "return isNumber(event);" %>
            <br />
            <br />
            <%= f.label :phone, "Phone where Pet-Owners can reach you at" %>
            <br />
            <%= f.text_field :phone, placeholder: " Kennel-Phone", class: "kennel_dashboard_input_edit", onkeypress: "return isNumber(event);" %>
            <br />
            <br />
            <%= f.label :email, "Email where Pet-Owners can reach you at" %>
            <br />
            <%= f.text_field :email, placeholder: " Kennel-Email", class: "kennel_dashboard_input_edit" %>
            <br />
            <br />
            <%= f.label :sales_tax %>
            <br />
            <%= f.text_field :sales_tax, placeholder: " 6.5", class: "kennel_dashboard_input_edit" %> %
            <br />
            <br />
            <%= f.label :mission_statement %>
            <br />
            <%= f.text_area :mission_statement, placeholder: " Mission Statement", class: "kennel_dashboard_input_edit" %>
            <br />
            <br />
          </div>
        </div>
        <br />
        <div class="border"></div>
        <br />
        <br />
        <%= f.submit "Save Kennel", class: "btn-lg btn-success" %>
        <br />
        <br />
        <br />

        <% end %>


      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
