<h1>Kennel Registration</h1>


<%= form_for @kennel do |f| %>
  <%= f.text_field :kennel_name, placeholder: " Kennel Name" %>
  <br>
  <%= f.select :cats_or_dogs, options_for_select(cat_or_dog_options) %>
  <br>
  <%= f.text_field :kennel_address, placeholder: " Kennel Address" %>
  <br>
  <%= f.text_field :city, placeholder: " City" %>
  <br>
  <%= f.select :state, options_for_select(states_options) %>
  <br>
  <%= f.text_field :zip, placeholder: " Zip" %>
  <br>
  <%= f.text_field :phone, placeholder: " Phone" %>
  <br>
  <%= f.text_field :mission_statement, placeholder: " Mission Statement" %>
  <br>
  <%= f.file_field :avatar %>
  <br>
  <%= f.submit "Sumbit" %>
<% end %>
