<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h5 class="kennel_registration_title">Register My Kennel:</h5>
      <div class="kennel_registration_form_div text-center">
        <%= form_for @kennel do |f| %>
        <%= f.label :name %>
        <br />
        <%= f.text_field :name, placeholder: " Kennel-Name", class: "kennel_dashboard_input" %>
        <br />
        <br />
        <%= f.label :cats_or_dogs %>
        <br />
        <%= f.select :cats_or_dogs, options_for_select(cat_or_dog_options), class: "kennel_dashboard_input" %>
        <br />
        <br />
        <%= f.label :address %>
        <br />
        <%= f.text_field :address, placeholder: " Address", class: "kennel_dashboard_input" %>
        <br />
        <%= f.label :city %>
        <br />
        <%= f.text_field :city, placeholder: " City", class: "kennel_dashboard_input" %>
        <br />
        <br />
        <%= f.label :state %>
        <br />
        <%= f.select :state, options_for_select(states_options), class: "kennel_dashboard_input" %>
        <br />
        <br />
        <%= f.label :zip %>
        <br />
        <%= f.text_field :zip, placeholder: " Zip", class: "kennel_dashboard_input", onkeypress: "return isNumber(event);" %>
        <br />
        <%= f.label :phone %>
        <br />
        <%= f.text_field :phone, placeholder: " Kennel-Phone", class: "kennel_dashboard_input", onkeypress: "return isNumber(event);" %>
        <br />
        <%= f.label :email %>
        <br />
        <%= f.text_field :email, placeholder: " Kennel-Email", class: "kennel_dashboard_input" %>
        <br />
        <%= f.label :mission_statement %>
        <br />
        <%= f.text_area :mission_statement, placeholder: " Mission Statement", class: "kennel_dashboard_input" %>
        <br />
        <%= f.label :logo %>
        <br />
        <%= f.file_field :avatar, class: "kennel_dashboard_input text-center" %>
        <br />
        <%= f.submit "Sumbit", class: "btn btn-success" %>
        <br />
        <br />
        <br />
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
