<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="main_title arvo_font">Rate this Kennel</h5>
      <h6>One a scale from 1-5, how does this Kennel rate?</h6>
      <%= form_for @kennel_rating do |f| %>
        <h5>Rating</h5>
        <%= f.label %>
        <br />
        <%= f.select :rating, options_for_select(kennel_rating_option) %>
        <br>
        <%= f.label :comment %>
        <br />
        <%= f.text_area :comment, class:"general_input" %>
        <br>
        <br>
        <%= f.hidden_field :kennelID, value: "#{params[:kennel_id].to_i}" %>
        <%= f.hidden_field :userID, value: "#{params[:user_id].to_i}" %>
        <%= f.hidden_field :reservationID, value: "#{params[:reservation_id].to_i}" %>

        <%= f.submit "Submit", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
