<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="main_title arvo_font">Press Pages</h5>
      <div class="border"></div>
      <br />
      <br />
      <div class="row">
      <% @press_pages.each do |pp| %>
          <div class="col-xs-12 col-md-3">
            <div class="press_page_div">
              <h5><%= pp[:title] %></h5>
              <h6><%= pp[:body] %></h6>
              <a target="_blank" href="<%= pp[:link_to_press] %>">Read More...</a>
              <br />
              <% if !current_user.nil? && current_user.email == ENV["pawbookings_email"] && current_user.kennel_or_customer == "admin" %>
                <%= link_to "Edit", edit_press_page_path(pp.id) %>
                <br>
                <%= link_to "Delete", press_page_path(pp.id), data: {confirm: "Are you sure you want to delete?"}, method: "delete" %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
