<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center dashboard_default_background_color">
    <h5 class="main_title arvo_font">Secondary Emergency Contact</h5>
    <br />
  </div>
  <div class="border"></div>
  <div class="border"></div>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <div class="emergency_contact_div text-center">
        <%= form_for @customer_emergency_contact do |f| %>
          <%= f.label :name %>
          <br />
          <%= f.text_field :name, placeholder: " Emergency Full Name", class:"general_input" %>
          <br>
          <%= f.label :email %>
          <br />
          <%= f.text_field :email, placeholder: " Emergency Email", class:"general_input" %>
          <br>
          <%= f.label :phone %>
          <br />
          <%= f.text_field :phone, placeholder: " Emergency Phone", class:"general_input" %>
          <br>
          <br>
          <%= f.submit "Add New", class:"btn btn-success" %>
          <br />
          <br />
          <br />
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
