<%= render partial: "shared/top_info" %>

<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1 class="arvo_font payment_main_title">Complete Booking!</h1>
      <br />
      <div class="border"></div>
      <br />
    </div>
  </div>

  <div class="hidden_if_mobile">
    <div class="row">
      <%= form_tag payments_path, method: :post do %>
      <div class="col-md-8">
        <h3 class="arvo_font defaul">1. Billing Info</h3>
        <div class="row">
          <div class="col-md-6">
            <%= label_tag "First Name" %>
            <br>
            <%= text_field_tag :payment_first_name, nil, placeholder: " First Name", class: "payment_input" %>
          </div>
          <div class="col-md-6">
            <%= label_tag "Last Name" %>
            <br>
            <%= text_field_tag :payment_last_name, nil, placeholder: " Last Name", class: "payment_input" %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <%= label_tag "payment_card_type", "Card Type" %>
            <br>
            <%= select_tag :payment_card_type, options_for_select(card_type_option), class:"payment_input" %>
          </div>
          <div class="col-md-6">
            <%= label_tag "Card Number" %>
            <br>
            <%= text_field_tag :payment_card_number, nil, placeholder: " Card Number", class: "payment_input" %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <%= label_tag "Expiration Month" %>
            <br>
            <%= text_field_tag :payment_expiration_month, nil, placeholder: " MM", class: "payment_input" %>
          </div>
          <div class="col-md-6">
            <%= label_tag "Expiration Year" %>
            <br>
            <%= text_field_tag :payment_expiration_year, nil, placeholder: " YYYY", class: "payment_input" %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <%= label_tag "CVV" %>
            <br>
            <%= text_field_tag :payment_cvv, nil, placeholder: " CVV", class: "payment_input" %>
          </div>
          <div class="col-md-6">
            <%= label_tag "Zip" %>
            <br>
            <%= text_field_tag :payment_zipcode, nil, placeholder: " Zipcode", class: "payment_input" %>
          </div>
        </div>
        <br />

        <% if current_user.nil? %>
          <h3 class="arvo_font">2. Pet-Owner Info</h3>
          <div class="row">
            <div class="col-md-6">
              <%= label_tag "First Name" %>
              <br>
              <%= text_field_tag :customer_first_name, nil, placeholder: " First Name", class: "payment_input" %>
            </div>
            <div class="col-md-6">
              <%= label_tag "Last Name" %>
              <br>
              <%= text_field_tag :customer_last_name, nil, placeholder: " Last Name", class: "payment_input" %>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <%= label_tag "Email" %>
              <br>
              <%= text_field_tag :customer_email, nil, placeholder: " Email", class: "payment_input" %>
            </div>
            <div class="col-md-6">
              <%= label_tag "Phone" %>
              <br>
              <%= text_field_tag :customer_phone, nil, placeholder: " Phone", class: "payment_input" %>
            </div>
          </div>
        <% else %>
        <h3 class="arvo_font">2. Pet-Owner Info</h3>
        <div class="row">
          <div class="col-md-6">
            <%= label_tag "First Name" %>
            <br>
            <%= text_field_tag :customer_first_name, current_user.first_name.capitalize, placeholder: " First Name", class: "payment_input" %>
          </div>
          <div class="col-md-6">
            <%= label_tag "Last Name" %>
            <br>
            <%= text_field_tag :customer_last_name, current_user.last_name.capitalize, placeholder: " Last Name", class: "payment_input" %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <%= label_tag "Email" %>
            <br>
            <%= text_field_tag :customer_email, current_user.email.capitalize, placeholder: " Email", class: "payment_input" %>
          </div>
          <div class="col-md-6">
            <%= label_tag "Phone" %>
            <br>
            <%= text_field_tag :customer_phone, current_user.phone.capitalize, placeholder: " Phone", class: "payment_input" %>
          </div>
        </div>
        <% end %>

        <br />
        <% counter = @total_pets.to_i %>
        <h3 class="arvo_font">3. Pet Info</h3>
        <% (@total_pets.to_i).times do %>
          <h5 class="arvo_font">Pet# <%= counter %></h5>
          <div class="row">
            <div class="col-md-6">
              <%= label_tag "Pet name" %>
              <br>
              <%= text_field_tag "pet_name_#{counter}", nil, placeholder: " Pet Name", class: "payment_input pet_name_#{counter}" %>
            </div>
            <div class="col-md-6">
              <%= label_tag "Pet Weight" %>
              <br>
              <%= text_field_tag "pet_weight_#{counter}", nil, placeholder: " Pet Weight", class: "payment_input pet_weight_#{counter}" %>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <%= label_tag "pet_spay_or_neutered_#{counter}", "Spay or Neutered?" %>
              <br>
              <%= select_tag "pet_spay_or_neutered_#{counter}", options_for_select(spay_or_neutered_option), class:"payment_input pet_spay_or_neutered_#{counter}" %>
            </div>
            <div class="col-md-6">
              <%= label_tag "Special instructions" %>
              <br>
              <%= text_area_tag "pet_special_instructions_#{counter}", nil, placeholder: " Pet Special Instructions", class: "payment_input pet_special_instructions_#{counter}" %>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <%= label_tag "Type of pet" %>
              <br>
              <%= select_tag "pet_type_#{counter}", options_for_select(cat_or_dog_only_option), class:"payment_input pet_type_#{counter}", onchange:"return paymentChangeBreed();" %>
            </div>
            <div class="col-md-6">
              <%= label_tag "pet_vaccinations_#{counter}", "Vaccinations current?" %>
              <br>
              <%= select_tag "pet_vaccinations_#{counter}", options_for_select(false_or_true_option), class:"payment_input pet_vaccinations_#{counter}" %>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <div class="pet_breed_selection_<%= counter %>">
                <%= label_tag "Breed" %>
                <br>
                <%= select_tag "pet_breed_#{counter}", options_for_select(breed_option), class:"payment_input pet_breed_#{counter}" %>
              </div>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <br />
          <% if !@pets.empty? %>
            <% @pets.each do |pet| %>
              <p onclick='addSelectedPetToForm("<%= counter %>", "<%= pet[:name] %>", "<%= pet[:cat_or_dog] %>", "<%= pet[:breed] %>", "<%= pet[:weight] %>", "<%= pet[:vaccinations] %>", "<%= pet[:spay_or_neutered] %>", "<%= pet[:special_instructions] %>")' class="btn btn-primary">Add <%= pet[:name] %></p>
            <% end %>
          <% end %>
          <br />
          <br />
          <% counter -= 1 %>
        <% end %>
      </div>

      <div class="col-md-4">
        <div class="payment_confirm_booking_div">
          <h3 class="arvo_font">Confirm Booking</h3>
          <div class="border"></div>
          <br />
          <h5 style="margin-bottom:1em;" class="arvo_font"><%= params[:name] %></h5>
          <p class="margin_top_n1em poppins_font font_1_1_em"><%= "#{params[:address]}" %></p>
          <p class="margin_top_n1em poppins_font font_1_1_em"><%= "#{params[:kennel_city]}, #{params[:kennel_state]} #{params[:kennel_zip]}" %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Dates:</h5>
          <p class="margin_top_n1em poppins_font"><%= "#{unsanitize_date(params[:check_in])} to #{unsanitize_date(params[:check_out])}" %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Nights:</h5>
          <p class="margin_top_n1em poppins_font"><%= params[:number_of_nights] %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Room Selection(s):</h5>
          <% params[:number_of_rooms].to_i.times do %>
          <% counter = params[:number_of_rooms].to_i %>
            <div>
              <p class="margin_top_n1em poppins_font"><%= params["room_#{counter}_name"] %></p>
              <p class="margin_top_n1em poppins_font">$<%= params["room_#{counter}_price"].to_f %></p>
            </div>
            <% counter -= 1 %>
          <% end %>

          <h5 style="margin-bottom:1em;" class="arvo_font">Amenities Selection(s):</h5>
          <% counter = params[:number_of_rooms].to_i %>
          <% if !@amenities_list.empty? %>
            <div>
              <% @amenities_list.each do |a_id, count, price, description, title| %>
                <p class="margin_top_n1em margin_bottom_1em poppins_font"><strong><%= "#{title}" %></strong></p>
                <p class="margin_top_n1em poppins_font font_italic line_height_1em"><%= "- #{description}" %></p>
                <p class="margin_top_n1em margin_bottom_1em poppins_font"><%= "$#{price} x #{count}" %></p>
              <% end %>
            </div>
          <% end %>
          <% if @amenities_list.empty? %>
          <p class="margin_top_n1em poppins_font"><strong>•No Amenities Chosen</strong></p>
          <% end %>

          <h5 style="margin-bottom:1em;" class="arvo_font">Total:</h5>
          <p class="margin_top_n1em poppins_font">$<%= @total_price_without_tax %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Tax(<%= params[:kennel_sales_tax].to_f %>%):</h5>
          <p class="margin_top_n1em poppins_font">$<%= @tax_amount %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Grand Total:</h5>
          <p class="margin_top_n1em poppins_font">$<%= @total_price %></p>

          <div class="text-center">
            <%= submit_tag "Book Now!", class: "btn btn-success payment_submt_btn" %>
            <br />
            <br />
            <p class="poppins_font font_italic">By clicking "Book Now!" you are agreeing to the PawBookings <a href="<%= policies_and_terms_path %>">Terms of Use and Privacy Policy</a></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row hidden_if_desktop">
    <div class="col-xs-12">
      <%= form_tag payments_path, method: :post do %>
        <% if !@amenity_details.empty? %>
          <%= hidden_field_tag :amenity_details, nil, value: @amenity_details.to_s %>
        <% end %>

        <% if !@amenity_ids.empty? %>
          <%= hidden_field_tag :amenity_ids, nil, value: @amenity_ids %>
        <% end %>

        <%= hidden_field_tag :amenities_total, nil, value: @amenities_total %>
        <%= hidden_field_tag :total_price, nil, value: @total_price %>
        <%= hidden_field_tag :total_pets, nil, value: @total_pets %>
        <%#= hidden_field_tag :payment_card_type, nil, value: "visa" %>
        <%= hidden_field_tag :kennel_info, nil, value: params %>
        <%= hidden_field_tag :kennel_sales_tax, nil, value: params[:kennel_sales_tax] %>
        <div class="payment_credit_card_info_div text-center">
          <h3 class="arvo_font defaul">1. Billing Info</h3>
          <br />
          <%= label_tag "First Name" %>
          <br>
          <%= text_field_tag :payment_first_name, nil, placeholder: " First Name", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Last Name" %>
          <br>
          <%= text_field_tag :payment_last_name, nil, placeholder: " Last Name", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "payment_card_type", "Card Type" %>
          <br>
          <%= select_tag :payment_card_type, options_for_select(card_type_option), class:"payment_input" %>
          <br>
          <br>
          <%= label_tag "Card Number" %>
          <br>
          <%= text_field_tag :payment_card_number, nil, placeholder: " Card Number", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Expiration Month" %>
          <br>
          <%= text_field_tag :payment_expiration_month, nil, placeholder: " MM", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Expiration Year" %>
          <br>
          <%= text_field_tag :payment_expiration_year, nil, placeholder: " YYYY", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "CVV" %>
          <br>
          <%= text_field_tag :payment_cvv, nil, placeholder: " CVV", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Zip" %>
          <br>
          <%= text_field_tag :payment_zipcode, nil, placeholder: " Zipcode", class: "payment_input" %>
        </div>

        <% if current_user.nil? %>
          <div class="payment_pets_contact_div text-center">
            <br />
            <h3 class="arvo_font">2. Pet-Owner Info</h3>
            <br />
            <%= label_tag "First Name" %>
            <br>
            <%= text_field_tag :customer_first_name, nil, placeholder: " First Name", class: "payment_input" %>
            <br>
            <br>
            <%= label_tag "Last Name" %>
            <br>
            <%= text_field_tag :customer_last_name, nil, placeholder: " Last Name", class: "payment_input" %>
            <br>
            <br>
            <%= label_tag "Email" %>
            <br>
            <%= text_field_tag :customer_email, nil, placeholder: " Email", class: "payment_input" %>
            <br>
            <br>
            <%= label_tag "Phone" %>
            <br>
            <%= text_field_tag :customer_phone, nil, placeholder: " Phone", class: "payment_input" %>
          </div>
        <% else %>
          <div class="payment_pets_contact_div text-center">
            <br />
            <h3 class="arvo_font">2. Pet-Owner Info</h3>
            <br />
            <%= label_tag "First Name" %>
            <br>
            <%= text_field_tag :customer_first_name, current_user.first_name.capitalize, placeholder: " First Name", class: "payment_input" %>
            <br>
            <br>
            <%= label_tag "Last Name" %>
            <br>
            <%= text_field_tag :customer_last_name, current_user.last_name.capitalize, placeholder: " Last Name", class: "payment_input" %>
            <br>
            <br>
            <%= label_tag "Email" %>
            <br>
            <%= text_field_tag :customer_email, current_user.email.capitalize, placeholder: " Email", class: "payment_input" %>
            <br>
            <br>
            <%= label_tag "Phone" %>
            <br>
            <%= text_field_tag :customer_phone, current_user.phone, placeholder: " Phone", class: "payment_input" %>
          </div>
        <% end %>

        <div class="payment_pet_details_div">
          <br />
          <h3 class="arvo_font">3. Pet Info</h3>
          <% counter = @total_pets.to_i %>
          <% (@total_pets.to_i).times do %>
            <h4 class="arvo_font">Pet# <%= counter %></h4>
            <%= label_tag "Pet name" %>
            <br>
            <%= text_field_tag "pet_name_#{counter}", nil, placeholder: " Pet Name", class: "payment_input pet_name_#{counter}" %>
            <br>
            <br>
            <%= label_tag "Type of pet" %>
            <br>
            <%= select_tag "pet_type_#{counter}", options_for_select(cat_or_dog_only_option), class:"payment_input pet_type_#{counter}", onchange:"return paymentChangeBreed();" %>
            <br>
            <br>
            <div class="pet_breed_selection_<%= counter %>">
              <%= label_tag "Breed" %>
              <br>
              <%= select_tag "pet_breed_#{counter}", options_for_select(breed_option), class:"payment_input pet_breed_#{counter}" %>
            </div>
            <br>
            <%= label_tag "Pet Weight" %>
            <br>
            <%= text_field_tag "pet_weight_#{counter}", nil, placeholder: " Weight in lbs", class: "payment_input pet_weight_#{counter}" %>
            <br>
            <br>
            <%= label_tag "Special instructions" %>
            <br>
            <%= text_area_tag "pet_special_instructions_#{counter}", nil, placeholder: " Pet Special Instructions", class: "payment_input pet_special_instructions_#{counter}" %>
            <br>
            <br>
            <%= label_tag "pet_vaccinations_#{counter}", "Vaccinations?" %>
            <br>
            <%= select_tag "pet_vaccinations_#{counter}", options_for_select(false_or_true_option), class:"payment_input pet_vaccinations_#{counter}" %>
            <br>
            <br>
            <%= label_tag "pet_spay_or_neutered_#{counter}", "Spay or Neutered?" %>
            <br>
            <%= select_tag "pet_spay_or_neutered_#{counter}", options_for_select(spay_or_neutered_option), class:"payment_input pet_spay_or_neutered_#{counter}" %>
            <br>
            <br>
            <% if !@pets.empty? %>
              <% @pets.each do |pet| %>
                <p onclick='addSelectedPetToForm("<%= counter %>", "<%= pet[:name] %>", "<%= pet[:cat_or_dog] %>", "<%= pet[:breed] %>", "<%= pet[:weight] %>", "<%= pet[:vaccinations] %>", "<%= pet[:spay_or_neutered] %>", "<%= pet[:special_instructions] %>")' class="btn btn-primary">Add <%= pet[:name] %></p>
              <% end %>
            <% end %>
            <br />
            <br />
            <br />
            <% counter -= 1 %>
          <% end %>
        </div>

        <div class="payment_confirm_booking_div">
          <h3 class="arvo_font">Confirm Booking</h3>
          <div class="border"></div>
          <br />
          <h5 style="margin-bottom:1em;" class="arvo_font"><%= params[:name] %></h5>
          <p class="margin_top_n1em poppins_font font_1_1_em"><%= "#{params[:address]}" %></p>
          <p class="margin_top_n1em poppins_font font_1_1_em"><%= "#{params[:kennel_city]}, #{params[:kennel_state]} #{params[:kennel_zip]}" %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Dates:</h5>
          <p class="margin_top_n1em poppins_font"><%= "#{unsanitize_date(params[:check_in])} to #{unsanitize_date(params[:check_out])}" %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Nights:</h5>
          <p class="margin_top_n1em poppins_font"><%= params[:number_of_nights] %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Room Selection(s):</h5>
          <% params[:number_of_rooms].to_i.times do %>
          <% counter = params[:number_of_rooms].to_i %>
            <div>
              <p class="margin_top_n1em poppins_font"><%= params["room_#{counter}_name"] %></p>
              <p class="margin_top_n1em poppins_font">$<%= params["room_#{counter}_price"].to_f %></p>
            </div>
            <% counter -= 1 %>
          <% end %>

          <h5 class="arvo_font">Amenities Selection(s):</h5>
          <% counter = params[:number_of_rooms].to_i %>
          <% if !@amenities_list.empty? %>
            <div>
              <% @amenities_list.each do |a_id, count, price, description, title| %>
                <p class="margin_top_n1em margin_bottom_1em poppins_font"><strong><%= "#{title}" %></strong></p>
                <p class="margin_top_n1em poppins_font font_italic line_height_1em"><%= "- #{description}" %></p>
                <p class="margin_top_n1em poppins_font"><%= "$#{price} x #{count}" %></p>
              <% end %>
            </div>
          <% else %>
            <p>•No Amenities Chosen</p>
          <% end %>
          <br />
          <div class="border"></div>
          <br />
          <h5 style="margin-bottom:1em;" class="arvo_font">Total:</h5>
          <p class="margin_top_n1em poppins_font">$<%= @total_price_without_tax %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Tax(<%= params[:kennel_sales_tax].to_f %>%):</h5>
          <p class="margin_top_n1em poppins_font">$<%= @tax_amount %></p>

          <h5 style="margin-bottom:1em;" class="arvo_font">Grand Total:</h5>
          <p class="margin_top_n1em poppins_font">$<%= @total_price %></p>
          <br />
          <div class="border"></div>
          <br />
          <div class="text-center">
            <%= submit_tag "Book Now!", class: "btn btn-success payment_submt_btn" %>
            <br />
            <br />
            <p class="poppins_font font_italic">By clicking "Book Now!" you are agreeing to the PawBookings <a href="<%= policies_and_terms_path %>">Terms of Use and Privacy Policy</a></p>
          </div>
        </div>
        <br />
        <% counter -= 1 %>
      <% end %>
    </div>
  </div>

</div>




<%= render partial: "shared/footer" %>

<script type="text/javascript">
function paymentChangeBreed(){
  var total_pets = parseInt("<%= @total_pets %>");
  while(total_pets > 0 ){
    if ($("#pet_type_"+total_pets).val() == "dog"){
      console.log($("#pet_type_"+total_pets).val());
      $(".pet_breed_selection_"+total_pets).show();
    } else {
      $(".pet_breed_selection_"+total_pets).hide();
    }
    total_pets -= 1;
  }
}

function addSelectedPetToForm(pet_number, name, cat_or_dog, breed, weight, vaccinations, spay_or_neutered, special_instructions){

  // NEEDS TO BE SWITCHED TO TARGET CLASS SO BOTH MOBILE AND DESKTOP CHANGE
  $(".pet_name_" + pet_number).val(name);
  $(".pet_type_" + pet_number).val(cat_or_dog);
  $(".pet_breed_" + pet_number).val(breed);
  $(".pet_weight_" + pet_number).val(weight);
  $(".pet_vaccinations_" + pet_number).val(vaccinations);
  $(".pet_spay_or_neutered_" + pet_number).val(spay_or_neutered);
  $(".pet_special_instructions_" + pet_number).val(special_instructions);

  if(cat_or_dog == "cat"){
    $(".pet_breed_selection_" + pet_number).hide();
  } else {
    $(".pet_breed_selection_" + pet_number).show();
  }
}
</script>
