<%= render partial: "shared/top_info" %>

<div class="container-fluid payment_container leto_font">
  <div class="row">
    <div class="col-xs-12">
      <h5 class="payment_title default_white_color text-center">Payment</h5>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-xs-12">
      <ul class="payment_top_details_ul default_white_color">
        <li><p class="payment_top_details_li"><strong>Rooms:</strong> <%= params[:number_of_rooms] %></p></li>
        <li><p class="payment_top_details_li"><strong>Nights:</strong> <%= params[:number_of_nights] %></p></li>
        <li><p class="payment_top_details_li"><strong>Pets:</strong> <%= @total_pets %></p></li>
        <li><p class="payment_top_details_li payment_res_dates"><strong>Reservation Dates:</strong> <br><%= "#{unsanitize_date(params[:check_in])} to #{unsanitize_date(params[:check_out])}" %></p></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="payment_room_details_div default_white_color">
        <h6 class="payment_room_details_title">Room Details</h6>
        <% counter = params[:number_of_rooms].to_i %>
        <% params[:number_of_rooms].to_i.times do %>
          <div class="payment_room_individual_div">
            <h3 class="text-center">Room <%= counter %></h3>
            <p><strong>Name:</strong> <%= params["room_#{counter}_name"] %></p>
            <p><strong>Price:</strong> $<%= params["room_#{counter}_price"].to_f %></p>
            <p><strong>Maximum # of pets allowed:</strong> <%= params["room_#{counter}_pets_per_run"] %></p>
            <% counter -= 1 %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="payment_amenity_details_div default_white_color">
        <h6 class="payment_amenity_details_title">Amenity Details</h6>
        <% counter = params[:number_of_rooms].to_i %>

        <% if !@amenities_list.empty? %>
          <div class="payment_amenity_individual_div">
            <% @amenities_list.each do |a_id, count, price, description, title| %>
              <p class="payment_amenity_title"><strong><%= "•#{title}" %></strong></p>
              <p><%= "#{description}" %></p>
              <p><%= "$#{price} x #{count}" %></p>
            <% end %>
          </div>
        <% end %>
        <% if @amenities_list.empty? %>
        <p class="payment_amenity_title"><strong>•No Amenities Chosen</strong></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="payment_total_div default_white_color">
        <h6 class="payment_total_title">Total: $<%= @total_price_without_tax %></h6>
      </div>

      <div class="payment_tax_div default_white_color">
        <h6 class="payment_tax_title">Tax(<%= params[:kennel_sales_tax].to_f %>%): $<%= @tax_amount %></h6>
      </div>

      <div class="payment_grand_total_div default_green_color">
        <h6 class="payment_grand_total_title">Grand Total: $<%= @total_price %></h6>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid payment_owner_info_container leto_font">
  <div class="row">
    <div class="col-xs-12">
      <h5 class="payment_owner_info_title default_green_color text-center">Owner Info</h5>

      <%= form_tag payments_path, method: :post %>

        <% if !@amenity_details.empty? %>
          <%= hidden_field_tag :amenity_details, nil, value: @amenity_details.to_s %>
        <% end %>

        <% if !@amenity_ids.empty? %>
          <%= hidden_field_tag :amenity_ids, nil, value: @amenity_ids %>
        <% end %>

        <%= hidden_field_tag :amenities_total, nil, value: @amenities_total %>
        <%= hidden_field_tag :total_price, nil, value: @total_price %>
        <%= hidden_field_tag :payment_card_type, nil, value: "visa" %>
        <%= hidden_field_tag :kennel_info, nil, value: params %>
        <%= hidden_field_tag :kennel_sales_tax, nil, value: params[:kennel_sales_tax] %>

        <div class="payment_credit_card_info_div text-center">
          <h3 class="payment_credit_card_title default_green_color">Credit Card</h3>
          <%= label_tag "First Name" %>
          <br>
          <%= text_field_tag :payment_first_name, nil, placeholder: " First Name", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Last Name" %>
          <br>
          <%= text_field_tag :payment_last_name, nil, placeholder: " Last Name", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "payment_card_type", "Card Type" %>
          <br>
          <%= select_tag :payment_card_type, options_for_select(card_type_option), class:"payment_input" %>
          <br>
          <br>
          <%= label_tag "Card Number" %>
          <br>
          <%= text_field_tag :payment_card_number, nil, placeholder: " Card Number", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Expiration Month" %>
          <br>
          <%= text_field_tag :payment_expiration_month, nil, placeholder: " Expiration month", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Expiration Year" %>
          <br>
          <%= text_field_tag :payment_expiration_year, nil, placeholder: " Expiration year", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "CVV" %>
          <br>
          <%= text_field_tag :payment_cvv, nil, placeholder: " CVV", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Zip" %>
          <br>
          <%= text_field_tag :payment_zipcode, nil, placeholder: " Zipcode", class: "payment_input" %>
        </div>

        <div class="payment_pets_contact_div text-center">
          <h3 class="payment_pets_contact_title default_green_color">Primary Contact</h3>
          <%= label_tag "First Name" %>
          <br>
          <%= text_field_tag :customer_first_name, nil, placeholder: " First Name", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Last Name" %>
          <br>
          <%= text_field_tag :customer_last_name, nil, placeholder: " Last Name", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Email" %>
          <br>
          <%= text_field_tag :customer_email, nil, placeholder: " Email", class: "payment_input" %>
          <br>
          <br>
          <%= label_tag "Phone" %>
          <br>
          <%= text_field_tag :customer_phone, nil, placeholder: " Phone", class: "payment_input" %>
        </div>

        <h5 class="payment_pets_info_title default_green_color text-center">Pet Info</h5>

        <div class="payment_pet_details_div text-center">
          <% counter = @total_pets.to_i %>
          <% (@total_pets.to_i).times do %>
            <h3 style="text-decoration:underline;" class="default_green_color text-center">Pet <%= counter %></h3>
            <%= label_tag "Pet name" %>
            <br>
            <%= text_field_tag "pet_name_#{counter}", nil, placeholder: " Pet Name", class: "payment_input" %>
            <br>
            <br>
            <%= label_tag "Type of pet" %>
            <br>
            <%= select_tag "pet_type_#{counter}", options_for_select(cat_or_dog_only_option), onclick: "petTypeOptions(#{counter});", class:"payment_input" %>
            <br>
            <br>
            <div style="" class="pet_breed_selection_<%= counter %>">
              <%= label_tag "Breed" %>
              <br>
              <%= select_tag "pet_breed_#{counter}", options_for_select(breed_option), class:"payment_input" %>
            </div>
            <br>
            <br>
            <%= label_tag "Pet Weight" %>
            <br>
            <%= text_field_tag "pet_weight_#{counter}", nil, placeholder: " Pet Weight", class: "payment_input" %>
            <br>
            <br>
            <%= label_tag "Special instructions" %>
            <br>
            <%= text_area_tag "pet_special_instructions_#{counter}", nil, placeholder: " Pet Special Instructions", class: "payment_input" %>
            <br>
            <br>
            <%= label_tag "pet_vaccinations_#{counter}", "Vaccinations?" %>
            <br>
            <%= select_tag "pet_vaccinations_#{counter}", options_for_select(false_or_true_option), class:"payment_input" %>
            <br>
            <br>
            <%= label_tag "pet_spay_or_neutered_#{counter}", "Spay or Neutered?" %>
            <br>
            <%= select_tag "pet_spay_or_neutered_#{counter}", options_for_select(false_or_true_option), class:"payment_input" %>
            <br>
            <br>
            <% counter -= 1 %>
          <% end %>
          <%= submit_tag "Book Now!", class: "btn btn-success payment_submt_btn" %>
        </div>


    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
