<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="main_title">Would you like to upload your vaccination records now?</h5>
      <p class="default_green_color font_italic">*If you are bringing your records on the day of check-in, you can click 'skip' at the bottom*</p>
      <br />
      <div class="border"></div>
    </div>
  </div>
  <div class="pet_total" value="<%= @counter %>"></div>
  <div class="row text-center">
    <div class="col-xs-12">
      <% @pets.each do |pet| %>
        <% if pet[:vaccination_record_file_name].nil? %>
          <%= form_for(pet, html: {id: @counter, action: "update_vaccination_records", controller: :pets}) do |f| %>
            <br />
            <strong>Pet Name:</strong><p class="default_green_color"><%= pet[:name] %></p>
            <strong>Weight:</strong><p class="default_green_color"><%= pet[:weight] %></p>
            <strong>Vaccination record:</strong>
            <%= f.file_field :vaccination_record, class:"btn btn-primary" %>
            <br />
            <br />
            <%= f.submit "Submit", class:"btn btn-success" %>
            <br />
            <br />
          <% end %>
        <% end %>
        <div class="border"></div>
      <% end %>
      <br />
      <%= link_to "Skip", reservation_path(id: params[:id], params: params) %>
    </div>
  </div>
</div>

<br />
<br />

<%= render partial: "shared/footer" %>
