<h1>Search Results</h1>
<% if !@final_search_results.blank? %>
  <% @final_search_results.each do |fr| %>
    <%= link_to fr.name, search_path(fr.id, search_info: params) %>
    <br>
    <% if fr.cats_or_dogs == "both" %>
      Cats and Dogs
    <% else %>
      <%= fr.cats_or_dogs.capitalize %>
    <% end %>
    <br>
    <%= fr.address %>
    <br>
    <br>
  <% end %>
<% else %>
  <p>No results found…</p>
<% end %>
<br>
<h1>The Kennels listed below do NOT meet your reservation dates selected.</h1>
<br>
<% if !@negative_kennels.blank? %>
  <% @negative_kennels.each do |fr| %>
    <%= link_to fr.name, search_path(fr.id, search_info: params) %>
    <br>
    <% if fr.cats_or_dogs == "both" %>
      Cats and Dogs
    <% else %>
      <%= fr.cats_or_dogs.capitalize %>
    <% end %>
    <br>
    <%= fr.address %>
    <br>
    <br>
  <% end %>
<% end %>
