<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="run_registration_div">
        <h5 class="main_title">Runs</h5>
        <br />
        <div class="border"></div>
        <div class="br_if_desktop"><br /></div>
        <%= render partial: "shared/kennel_dashboard_option_btn_div" %>
        <div class="br_if_desktop"><br /></div>
        <div class="border"></div>
        <br />
        <h3 class="default_green_color">Add New</h3>
        <br />
        <%= form_for @run do |f| %>
          <%= f.label :title %>
          <br />
          <%= f.text_field :title, placeholder: " Title", class:"kennel_dashboard_input" %>
          <br>
          <%= f.label :width_of_room %>
          <br />
          <%= f.text_field :size_width, placeholder: " Width", class:"kennel_dashboard_input" %>
          <br>
          <%= f.label :length_of_room %>
          <br />
          <%= f.text_field :size_length, placeholder: " Length", class:"kennel_dashboard_input" %>
          <br />
          <%= f.label :description %>
          <br />
          <%= f.text_area :description, placeholder: " Description", class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.label :indoor_or_outdoor %>
          <br />
          <%= f.select :indoor_or_outdoor, options_for_select(indoor_outdoor_option), class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.label :pets_allowed_per_run %>
          <br />
          <%= f.text_field :pets_per_run, placeholder: " Pets allowed per run", class:"kennel_dashboard_input", onkeypress:"return isNumber(event)" %>
          <br>
          <br>
          <%= f.label :type_of_pets_allowed %>
          <br />
          <%= f.select :type_of_pets_allowed, options_for_select(cat_or_dog_only_option), class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.label :price %>
          <br />
          <%= f.text_field :price, placeholder: " Price per night", class:"kennel_dashboard_input" %>
          <br>
          <%= f.label :weight_limit %>
          <br />
          <%= f.text_field :weight_limit, placeholder: " Weight Limit", class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.label :breeds_restricted %>
          <br />
          <div class="input-group-addon">
            <input type="checkbox" name="breed_1" value="pitbull">Pitbull
            <br />
            <br />
            <input type="checkbox" name="breed_2" value="german_shephered">German Shephered
            <br />
            <br />
            <input type="checkbox" name="breed_3" value="rottweiler">RottWeiler
            <br />
            <br />
            <input type="checkbox" name="breed_4" value="doberman_pincher">Doberman Pincher
          </div>
          <br>
          <br>
          <%= f.label :how_many_of_these_runs_do_you_have_total %>
          <br />
          <%= f.text_field :number_of_rooms, placeholder: " Number of these runs", class:"kennel_dashboard_input", onkeypress:"return isNumber(event)" %>
          <br>
          <br>
          <%= f.submit "Add New", class: "btn btn-success" %>
          <br>
          <br>
          <br>
          <br>
        <% end %>
      </div>
      <div class="all_runs_div text-center">
        <% if !@runs.empty? %>
          <div class="border"></div>
          <br />
          <h3 class="default_green_color">Edit Existing</h3>
          <br />
          <% @runs.each do |run| %>
            <%= form_for(run, {action: :update, id: run[:id]}) do |f| %>
              <%= f.label :title %>
              <br />
              <%= f.text_field :title, value: run[:title], class:"kennel_dashboard_input" %>
              <br />
              <%= f.label :width_of_room %>
              <br />
              <%= f.text_field :size_width, value: run[:size_width], class:"kennel_dashboard_input" %>
              <br />
              <%= f.label :length_of_room %>
              <br />
              <%= f.text_field :size_length, value: run[:size_length], class:"kennel_dashboard_input" %>
              <br />
              <%= f.label :description %>
              <br />
              <%= f.text_area :description, value: run[:description], class:"kennel_dashboard_input" %>
              <br />
              <br />
              <%= f.label :indoor_or_outdoor %>
              <br />
              <%= f.select :indoor_or_outdoor, options_for_select(indoor_outdoor_option, run[:indoor_or_outdoor]) %>
              <br />
              <br />
              <%= f.label :pets_allowed_per_run %>
              <br />
              <%= f.text_field :pets_per_run, value: run[:pets_per_run], class:"kennel_dashboard_input" %>
              <br />
              <br />
              <%= f.label :type_of_pets_allowed %>
              <br />
              <%= f.select :type_of_pets_allowed, options_for_select(cat_or_dog_only_option, run[:type_of_pets_allowed]) %>
              <br />
              <br />
              <%= f.label :price %>
              <br />
              <%= f.text_field :price, value: run[:price], class:"kennel_dashboard_input" %>
              <br />
              <%= f.label :weight_limit %>
              <br />
              <%= f.text_field :weight_limit, value: run[:weight_limit], class:"kennel_dashboard_input" %>
              <br />
              <br />

              <%= f.label :breeds_restricted %>
              <% if run[:breeds_restricted] != "n/a" %>
                <% breeds_restricted = JSON.parse(run[:breeds_restricted]) %>
                <div class="input-group-addon">
                  <% if breeds_restricted.include? 'pitbull' %>
                    <input type="checkbox" name="breed_1" value="pitbull" checked="checked">Pitbull
                    <br />
                    <br />
                  <% end %>
                  <% if !breeds_restricted.include? 'pitbull' %>
                    <input type="checkbox" name="breed_1" value="pitbull">Pitbull
                    <br />
                    <br />
                  <% end %>

                  <% if breeds_restricted.include? 'german_shephered' %>
                    <input type="checkbox" name="breed_2" value="german_shephered" checked="checked">German Shephered
                    <br />
                    <br />
                  <% end %>
                  <% if !breeds_restricted.include? 'german_shephered' %>
                      <input type="checkbox" name="breed_2" value="german_shephered"%>German Shephered
                    <br />
                    <br />
                  <% end %>

                  <% if breeds_restricted.include? 'rottweiler' %>
                    <input type="checkbox" name="breed_3" value="rottweiler" checked="checked">RottWeiler
                    <br />
                    <br />
                  <% end %>
                  <% if !breeds_restricted.include? 'rottweiler' %>
                    <input type="checkbox" name="breed_3" value="rottweiler">RottWeiler
                    <br />
                    <br />
                  <% end %>

                  <% if breeds_restricted.include? 'doberman_pincher' %>
                    <input type="checkbox" name="breed_3" value="doberman_pincher" checked="checked">Doberman Pincher
                    <br />
                    <br />
                  <% end %>
                  <% if !breeds_restricted.include? 'doberman_pincher' %>
                    <input type="checkbox" name="breed_3" value="doberman_pincher">Doberman Pincher
                    <br />
                    <br />
                  <% end %>
                </div>

              <% else %>
              <div class="input-group-addon"
                <input type="checkbox" name="breed_1" value="pitbull">Pitbull
                <br />
                <br />
                <input type="checkbox" name="breed_2" value="german_shephered">German Shephered
                <br />
                <br />
                <input type="checkbox" name="breed_3" value="rottweiler">RottWeiler
                <br />
                <br />
                <input type="checkbox" name="breed_4" value="doberman_pincher">Doberman Pincher
                <br />
                <br />
              </div>
              <% end %>
              <br />
              <%= f.label :how_many_of_these_runs_do_you_have_total %>
              <br />
              <%= f.text_field :number_of_rooms, value: run[:number_of_rooms], class:"kennel_dashboard_input" %>
              <br />
              <br />
              <%= f.submit "Update", class:"btn btn-primary" %>
              <br />
              <br />
            <% end %>
            <%= button_to "Delete", run_path(run[:id]), data: {confirm: "Are you sure you want to delete this run?"}, class:"btn btn-danger", method: :delete %>
            <br />
            <div class="border"></div>
            <br />
          <% end %>
          <br />
          <br />
          <div class="border"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>
