<%= render partial: "shared/top_info" %>

<div class="container-fluid poppins_font">
  <div class="row text-center dashboard_default_background_color">
    <h5 class="main_title arvo_font">Accommodations</h5>
    <br />
  </div>
</div>
<div class="border"></div>
<div class="border"></div>
<br />
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="run_registration_div">
        <div class="br_if_desktop"><br /></div>
        <%= render partial: "shared/kennel_dashboard_option_btn_div" %>
        <br />
        <br />
        <h3 class="default_green_color poppins_font text_underline">Add New</h3>
        <%= link_to "View Existing", "#edit_existing" if !@runs.blank? %>
        <br />
        <br />
        <%= form_for @run, html: {multipart: true} do |f| %>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <%= f.label :title %>
              <br />
              <%= f.text_field :title, placeholder: " Title", class:"kennel_dashboard_input_desktop" %>
              <br>
              <br>
              <%= f.label :width_of_room %>
              <br />
              <%= f.text_field :size_width, placeholder: " Width", class:"kennel_dashboard_input_desktop", onkeypress: "return isNumber(event);" %> ft
              <br>
              <br>
              <%= f.label :length_of_room %>
              <br />
              <%= f.text_field :size_length, placeholder: " Length", class:"kennel_dashboard_input_desktop", onkeypress: "return isNumber(event);" %> ft
              <br />
              <br />
              <%= f.label :description %>
              <br />
              <%= f.text_area :description, placeholder: " Description", class:"kennel_dashboard_input_desktop" %>
              <br>
              <br>
              <%= f.label :indoor_or_outdoor %>
              <br />
              <%= f.select :indoor_or_outdoor, options_for_select(indoor_outdoor_option), class:"kennel_dashboard_input_desktop" %>
              <br>
              <br>
              <%= f.label :pets_allowed_per_accommodation, "How many pets allowed per accommodation?" %>
              <br />
              <%= f.text_field :pets_per_run, placeholder: " 4", class:"kennel_dashboard_input_desktop", onkeypress:"return isNumber(event)" %>
            </div>
            <div class="col-md-3">
              <%= f.label :type_of_pets_allowed %>
              <br />
              <%= f.select :type_of_pets_allowed, options_for_select(cat_or_dog_only_option), class:"kennel_dashboard_input_desktop" %>
              <br>
              <br>
              <%= f.label :price %>
              <br />
              $<%= f.text_field :price, placeholder: " 19.99", class:"kennel_dashboard_input_desktop"%>
              <br>
              <br>
              <%= f.label :weight_limit %>
              <br />
              <%= f.text_field :weight_limit, placeholder: " Weight in lbs", class:"kennel_dashboard_input_desktop", onkeypress: "return isNumber(event);" %> lbs
              <p>Leave blank if none</p>
              <br>
              <br>
              <%= f.label :how_many_of_these_runs_do_you_have_total, "How many of these accommodations do you have total?" %>
              <br />
              <%= f.text_field :number_of_rooms, placeholder: " 5", class:"kennel_dashboard_input_desktop", onkeypress:"return isNumber(event)" %>
              <br />
              <br />
              <%= f.label :accommodation_photo %>
              <br />
              <%= f.file_field :image, class:"btn btn-primary width_100_percent" %>
              <br>
              <br>
            </div>
          </div>
          <div class="row text-center">
            <br />
            <br />
            <%= f.submit "Save Accommodation", class: "btn btn-success" %> or
            <%= f.submit "Save and Add Another Accommodation", class:"btn btn-success", name: "create_another_run" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>

  <div id="edit_existing" class="row text-center">
    <br />
    <br />
    <div class="border"></div>
    <br />
    <% if !@runs.blank? %>
      <h3 class="default_green_color poppins_font text_underline">Edit Existing</h3>
      <br />
      <% @runs.each do |run| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <%= form_for(run, {action: :update, id: run[:id]}) do |f| %>
            <%= f.label :title %>
            <br />
            <%= f.text_field :title, value: run[:title], class:"kennel_dashboard_input_edit" %>
            <br />
            <%= f.label :width_of_room %>
            <br />
            <%= f.text_field :size_width, value: run[:size_width], class:"kennel_dashboard_input_edit", onkeypress: "return isNumber(event);" %> ft
            <br />
            <%= f.label :length_of_room %>
            <br />
            <%= f.text_field :size_length, value: run[:size_length], class:"kennel_dashboard_input_edit", onkeypress: "return isNumber(event);" %> ft
            <br />
            <%= f.label :description %>
            <br />
            <%= f.text_area :description, value: run[:description], class:"kennel_dashboard_input_edit" %>
            <br />
            <br />
            <%= f.label :indoor_or_outdoor %>
            <br />
            <%= f.select :indoor_or_outdoor, options_for_select(indoor_outdoor_option, run[:indoor_or_outdoor]) %>
            <br />
            <br />
            <%= f.label :pets_allowed_per_accommodation %>
            <br />
            <%= f.text_field :pets_per_run, value: run[:pets_per_run], class:"kennel_dashboard_input_edit", onkeypress: "return isNumber(event);" %>
            <br />
            <br />
            <%= f.label :type_of_pets_allowed %>
            <br />
            <%= f.select :type_of_pets_allowed, options_for_select(cat_or_dog_only_option, run[:type_of_pets_allowed]) %>
            <br />
            <br />
            <%= f.label :price %>
            <br />
            $<%= f.text_field :price, value: run[:price], class:"kennel_dashboard_input_edit" %>
            <br />
            <%= f.label :weight_limit, "Weight in lbs" %>
            <br />
            <%= f.text_field :weight_limit, value: run[:weight_limit], class:"kennel_dashboard_input_edit" %> lbs
            <br />
            <br />
            <%= f.label :how_many_of_these_accommodations_do_you_have_total %>
            <br />
            <%= f.text_field :number_of_rooms, value: run[:number_of_rooms], class:"kennel_dashboard_input_edit" %>
            <br />
            <br />
            <%= f.label :accommodation_photo %>
            <% if !run.image.url.nil? %>
              <%= image_tag run.image.url(:thumb), class:"kennel_dashboard_avatar" %>
              <br />
              <%= link_to "Delete Image", delete_run_image_path(id: run), data: {confirm: "Are you sure you want to delete this image?"}, method: :delete %>
            <% else %>
                <strong>•No Image Selected</strong>
            <% end %>
            <br />
            <%= f.file_field :image, class:"btn btn-primary width_75_percent" %>
            <br />
            <br />
            <%= f.submit "Update", class:"btn btn-primary" %>
            <br />
            <br />
          <% end %>
          <%= button_to "Delete", run_path(run[:id]), data: {confirm: "Are you sure you want to delete this run?"}, class:"btn btn-danger", method: :delete %>
          <br />
          <br />
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: "shared/footer" %>
