<%= render partial: "shared/top_info" %>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <h5 class="main_title">Policies</h5>
      <br />
      <div class="border"></div>
      <div class="br_if_desktop"><br /></div>
      <%= render partial: "shared/kennel_dashboard_option_btn_div" %>
      <div class="br_if_desktop"><br /></div>
      <div class="border"></div>
      <br />
      <div class="policy_registration_div">
        <h3 class="default_green_color">Add New</h3>
        <br />
        <%= form_for @policy do |f| %>
          <%= f.label :policy_description %>
          <br />
          <%= f.text_area :description, placeholder: " Description", class:"kennel_dashboard_input" %>
          <br>
          <br>
          <%= f.submit "Add New", class:"btn btn-success" %>
          <br>
          <br>
          <br>
        <% end %>
      </div>
      <div class="all_policies_div">
        <% if !@policies.blank? %>
          <div class="border"></div>
          <br />
          <h3 class="default_green_color">Edit Existing</h3>
          <br />
          <% @policies.each do |policy| %>
            <%= form_for(policy, url: {action: :update, id: policy[:id]}) do |f| %>
              <%= f.label :policy_description %>
              <br />
              <%= f.text_area :description, class:"kennel_dashboard_input", value: policy[:description] %>
              <br />
              <br />
              <%= f.submit "Update", class:"btn btn-primary" %>
              <br />
              <br />
              <%= button_to "Delete", policy_path(policy[:id]), data: {confirm: "Are you sure you want to delete this policy?"}, class:"btn btn-danger", method: :delete %>
              <br />
              <br />
              <br />
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= render partial: "shared/footer" %>
